<span>
  <%= user.email %>
</span>
<div class="prefs">
  <% form_for current_user, "/user" do |f| %>
  <form action="/user" id="user_prefs" method="post">
    <input type="hidden" name="_method" value="put" />

    <fieldset>
      <label class="header">Alerts Via</label>
      <input type="radio" class="radio" name="user[delivery][mechanism]" value="email" <%= user.mechanism == "email" ? "checked" : "" %> />
      <label class="radio">Email</label>
      <input type="radio" class="radio" name="user[delivery][mechanism]" value="sms" <%= user.mechanism == "sms" ? "checked" : "" %> />
      <label class="radio">SMS</label>
      <br/><br/>
      <label class="text">Phone</label>
      <input type="text" name="user[phone]" value="<%= user.phone %>"/>
    </fieldset>
    <fieldset>
      <label class="header">Email Frequency</label>
      <input type="radio" class="radio" name="user[delivery][email_frequency]" value="immediate" <%= user.delivery['email_frequency'] == "immediate" ? "checked" : "" %> />
      <label class="radio">Immediate</label>
      <input type="radio" class="radio" name="user[delivery][email_frequency]" value="daily" <%= user.delivery['email_frequency'] == "daily" ? "checked" : "" %> />
      <label class="Radio">Daily Digest</label>
    </fieldset>
    
    <input class="submit" type="submit" value="Update Settings" />
    <a class="logout" href="/logout">logout</a>
  </form>
  <% end %>

  <%= flash_for [:password] %>

  <% if current_user and current_user.errors %>
    <% current_user.errors.each do |field, msg| %>
        <div class="user error"><%= msg %></div>
    <% end %>
  <% end %>

  <h2>Change Password</h2>
  <form action="/user/password" method="post" class="signup_form">
    <input type="hidden" name="_method" value="put" />
      <input class="redirect" name="redirect" type="hidden" value="<%= params[:redirect] %>" />
      
      <input class="password" type="password" placeholder="old password" name="old_password" />
      <input class="password" type="password" placeholder="new password" name="password" />
      <input class="password" type="password" placeholder="new password again" name="password_confirmation" />
      <br/>
      <button class="text login">Change</button>
  </form>

  <p class="user_results">&nbsp;</p>
</div>