<% content_for :sidebar_right do %>
    <div></div>
<% end %>

<div class="settings contentArea left">

    <%= flash_for [:user, :forgot] %>
	<div class="module notifications">

	    <h2>Sign Up</h2>

	    <% if @new_user and @new_user.errors %>
	        <% @new_user.errors.each do |field, msg| %>
	            <div class="error"><%= msg %></div>
	        <% end %>
	    <% end %>

	    <% form_for @new_user, "/account/new", :method => "post", :class => "signup_form" do |f| %>
	    <form action="/users" method="post" class="signup_form">
	        <input class="redirect" name="redirect" type="hidden" value="<%= params[:redirect] %>" />

	        <%= f.text_field :email, :type => "email", :placeholder => "your email" %>
	        <%= f.password_field :password, :placeholder => "password" %>
	        <%= f.password_field :password_confirmation, :placeholder => "password again" %>
        
	        <label for="user_announcements">
	            <%= f.check_box :announcements, :uncheck_value => 'false' %>
	            <span>Get updates about new Scout features</span>
	        </label>
        
	        <label for="sunlight_announcements">
	            <%= f.check_box :sunlight_announcements, :uncheck_value => 'false' %>
	            <span>Get updates about the Sunlight Foundation</span>
	        </label>
        
	        <button class="text login">OK</button>
	    </form>
	    <% end %>
	</div>
    <div class="module notifications">

	    <h2>Login</h2>
	    <form action="/login" method="post" class="signup_form">
	        <input class="redirect" name="redirect" type="hidden" value="<%= params[:redirect] %>" />

	        <input class="email" type="email" placeholder="your email" name="email" />
	        <input class="password" type="password" placeholder="password" name="password" />
        
	        <button class="text login">OK</button>
	    </form>
	</div>
    <div class="module notifications">

    <h2>Forgot Password</h2>
	    <form action="/account/password/forgot" method="post" class="signup_form">
	        <input class="redirect" name="redirect" type="hidden" value="<%= params[:redirect] %>" />

	        <input class="email" type="email" placeholder="your email" name="email" />
        
	        <button class="text login">OK</button>
	    </form>
	</div>
</div>