<% content_for :sidebar_right do %>
	<div class="donate">
	    <p>
	        You're on the <strong>free</strong> plan. Everyone is!
	        <br/>
	        <small>But if you like this service, and feel like giving us money anyway, by all means:</small>
	    </p>

	    <form action="https://checkout.google.com/cws/v2/Donations/548702786961191/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
            
	        <input name="item_name_1" type="hidden" value="Scout - Donation to support the service"/>
	        <input name="item_description_1" type="hidden" value="The Sunlight Foundation is a non-profit, nonpartisan organization that uses the power of the Internet to catalyze greater government openness and transparency and to provide new tools and resources for media and individuals alike."/>
	        <input name="item_quantity_1" type="hidden" value="1"/>
	        <input name="item_currency_1" type="hidden" value="USD"/>
	        <input name="item_is_modifiable_1" type="hidden" value="true"/>
	        <input name="item_min_price_1" type="hidden" value="0.01"/>
	        <input name="item_max_price_1" type="hidden" value="25000.0"/>
	        <input name="_charset_" type="hidden" value="utf-8"/>
        
	        <input id="item_price_1" name="item_price_1" type="text" value="10.00" placeholder="donation amount"/>
        
	        <button class="donatebutton" type="submit">
	            <span>Donate</span>
	        </button>
        
	    </form>

	    <small>
	        The Sunlight Foundation is a 501 (c)(3) nonprofit, nonpartisan organization. All contributions are tax-deductible.
	    </small>
	</div>

<% end %>

<div class="contentArea left user_settings">
    
    <h2>Notifications</h2>
    <% form_for user, "/account/settings", :method => "put" do |f| %>
        <p>
            We can email you about all the new things that you're following, if you want.
        </p>
        <ul>
            <li>
                <label for="user_delivery_none">
                    <%= f.radio_button :notifications, :value => "none" %>
                    <span>No, thanks</span>
                </label>

                <label for="user_delivery_email">
                    <%= f.radio_button :notifications, :value => "email_immediate" %>
                    <span>Yes, immediately</span>
                </label>

                <label for="user_delivery_email">
                    <%= f.radio_button :notifications, :value => "email_daily" %>
                    <span>Yes, once a day</span>
                </label>
            </li>
        </ul>
        <small>
            You can also control this <a href="/account/subscriptions">per-subscription</a>.
        </small>

        <ul>
            <li>
                <label for="user_announcements">
                    <%= f.check_box :announcements, :uncheck_value => 'false' %>
                    <span>Get (infrequent) announcements of new features</span>
                </label>
            </li>
        </ul>

        <button type="submit">
            <span>OK</span>
        </button>

    <% end %>


    <h2>SMS</h2>

    <%= flash_for [:phone] %>

    <%= errors_for user %>

    <div class="confirmed phone_settings">
        <span>
            <%= user.phone %> <strong>(Verified)</strong>
        </span>
        <a href="#" class="dismiss phone">
            Change
        </a>
    </div>

    <div class="unconfirmed phone_settings">
        <span>
            <%= user.phone %> (Unverified)
        </span>
        <p>
            To confirm your phone number, Enter the verification code we sent you.
        </p>

        <form action="/account/phone/confirm" method="post">
            <%= text_field_tag "phone_verify_code" %>
             <button type="submit">
                <span>Verify</span>
            </button>
        </form>

        <form action="/account/phone/resend" method="post">
            <button type="submit">
                <span>Resend Code</span>
            </button>
        </form>
    </div>

    <div class="none phone_settings">
        <p>
            If you provide a phone number, you can turn on SMS notifications for your subscriptions. We'll send you a text message to confirm.
        </p>

        <% form_for user, "/account/phone", :method => "put" do |f| %>
            <%= f.label :phone %>
            <%= f.text_field :phone %>

            <button type="submit">
                <span>Add Phone Number</span>
            </button>
        <% end %>
    </div>
	<div class="passwordChange">
		<h2>Change Password</h2>
	    <% form_for user, "/account/password/change", :method => "put" do |f| %>
	        <ul>
	            <li>
	                <label for="old_password">Old Password</label>
	                <input type="password" name="old_password" />
	            </li>
	            <li>
	                <label for="password">New Password</label>
	                <input type="password" name="password" />
	            </li>
	            <li>
	                <label for="password_confirmation">New Password (again)</label>
	                <input type="password" name="password_confirmation" />
	            </li>
	        </ul>
	        <button type="submit">
	            <span>Change Password</span>
	        </button>
	    <% end %>
	</div>
    <div class="developer_mode">
        <h2>Developer Mode</h2>
        <% if developer_mode? %>
            <p>
                You have a Sunlight API key, so we're turning on Developer Mode. Now you can:
            </p>
            <ul>
                <li>
                    Use JSON feeds for <a href="/account/subscriptions">all of your subscriptions.</a>
                </li>
                
                <li>
                    See the JSON feeds underlying <a href="/search/federal_bills/open%20government">every search</a>.
                </li>

                <li>
                    Set up web hooks to push JSON for new results to a URL of your choice (coming soon).
                </li>
            </ul>
        <% else %>
            <p>
                Developer Mode opens the hood of the website, and gives you access to more powerful feeds. (If you know what JSON is, you should turn it on.)
            </p>
            <p>
                It will turn on automatically if you create a Sunlight API key for this email address.
            </p>
            <a class="button" href="http://services.sunlightlabs.com/accounts/register/">
                Go get a Sunlight key
            </a>
        <% end %>
    </div>

</div>

<script type="text/javascript">
    $(function() {

        <% if user.phone_confirmed? %>
            $(".phone_settings.confirmed").show();
        <% elsif user.phone.present? %>
            $(".phone_settings.unconfirmed").show();
        <% else %>
            $(".phone_settings.none").show();
        <% end %>

        $("a.dismiss.phone").click(function() {
            $(".phone_settings.confirmed").hide();
            $(".phone_settings.none").show();

            return false;
        });

    });
</script>