<% content_for :title do %>
    <h2>Subscriptions</h2>
<% end %>

<% content_for :sidebar_right do %>
    <div class="module rss cluster">
        <h4>Combined Feed <a class="rssFeed" href="/account/<%= current_user.id %>.rss">RSS</a></h4>
        <small>A combined RSS feed of updates on everything you follow.</small>
    </div>

    <%= recent_searches %>
<% end %>

<div class="contentArea left">

    <p>
        <% if current_user.notifications == "none" %>
            Your default notification preference is <strong>off, feeds only</strong>.
        <% elsif current_user.notifications == "email_immediate" %>
            Your default notification preference is <strong>email immediately</strong>.
        <% elsif current_user.notifications == "email_daily" %>
            Your default notification preference is <strong>a single daily email</strong>.
        <% else %>
            Your default notification preference is unknown(?).
        <% end %>

        <a href="/account/settings">Change</a>
    </p>



    <div class="subscriptionsList">

        <% if interests.any? %>

            <% interests.each do |interest| %>
                <fieldset class="subscription"
                    data-id="<%= interest.id %>"
                    >
                    
                    <h3><%= interest_name interest %></h3>

                    <a class="rssFeed" href="/interest/<%= interest.id %>.rss">RSS</a>

                    <% if interest.search? %>
                        <% subscription = interest.subscriptions.first %>
                        <div class="searchParameters">
                            <%= subscription.search_name %>
                        </div>
                    <% end %>
					<div class="clear"></div>
                    
                    <div class="notifications">
                        <form>
                            <% types = current_user.allowable_notifications %>
                            <% preference = interest.notifications || current_user.notifications %>
                            <% default = types.delete current_user.notifications %>
                            <%= notification_radio_for default, preference == default, true %>
                            <% types.each do |type| %>
                                <%= notification_radio_for type, preference == type %>
                            <% end %>
                        </form>
                    </div>

                    <div class="indicators">
                        <span class="spinning">spinning</span>
                        <span class="okay">okay</span>
                        <span class="failed">not okay</span>
                    </div>

                    <div class="removeSubscription">
                        <input type="checkbox" name="remove" class="remove" />
                        <span>Remove</span>
                        <button class="remove">Yes, remove</button>
                    </div>
                </fieldset>
            <% end %>

        <% else %>
            You haven't followed anything yet.
        <% end %>

    </div>

</div>

<script type="text/javascript">

    $("input[type=checkbox].remove").change(function() {
        $(this).siblings("button.remove").toggle();
    });

    $("button.remove").click(function() {
        var container = $(this).parents("fieldset.subscription");
        var interest_id = container.data("id");

        container.find(".indicators span").hide();
        container.find(".indicators .spinning").show();
        $.post("/interest/" + interest_id, {_method: "delete"}, function(data) {
            Utils.log("Deleted interest " + interest_id);
            container.remove();
        }).error(function() {
            Utils.log("Error deleting interest " + interest_id);
            container.find(".indicators span").hide();
            container.find(".indicators .failed").show();
        })
    });

    $("input.notifications").change(function() {
        var container = $(this).parents("fieldset.subscription");
        var interest_id = container.data("id");

        var notifications = container.find("input[name=notifications]:checked").val();
        var attrs = {interest: {notifications: notifications}};

        container.find(".indicators span").hide();
        container.find(".indicators .spinning").show();
        $.post("/interest/" + interest_id, $.extend(attrs, {_method: "put"}), function(data) {
            container.find(".indicators span").hide();
            container.find(".indicators .okay").show();
            Utils.log("Updated interest " + interest_id);
        }).error(function() {
            container.find(".indicators span").hide();
            container.find(".indicators .failed").show();
            Utils.log("Error updating interest " + interest_id);
        })
    });

</script>