<% action = item.data %>
<item>
  <title>
    <%= interest_name interest %> - New activity
  </title>
  <description><![CDATA[
    <%= action['action'] %>
  ]]></description>
    
  <link>http://<%= config[:hostname] %><%= item_path item %></link>
  <guid>http://<%= config[:hostname] %><%= item_path item %></guid>
  <pubDate><%= rss_date item.date %></pubDate>
</item>