<li class="keyword" id="keyword-<%= keyword.id %>">
  <h2>
    <a href="/search/<%= form_escape keyword.keyword %>" onclick="return false" 
      data-keyword="<%= form_escape keyword.keyword %>"
      data-keyword_id="<%= form_escape keyword.id %>"
      >
      <%= keyword.keyword %>
    </a>
  </h2>
  
  <form method="post" action="/keyword/<%= keyword.id %>" onsubmit="return false">
    <input type="hidden" name="_method" value="delete" />
    
    <button class="remove image" 
      data-keyword_id="<%= form_escape keyword.id %>"
      data-keyword="<%= form_escape keyword.keyword %>">
      Remove
    </button>
  </form>

  <section class="types">
    <%= keyword.subscriptions.map do |subscription|
      subscription_types[subscription.subscription_type][:name]
    end.join(", ") %>
  </section>
  
</li>

<script type="text/javascript">
  // will overwrite the same data on initial load, but guarantees that 
  // new subscriptions added dynamically will keep the master map up to date
  var keyword = encodeURIComponent("<%= form_escape keyword.keyword %>");
  user_subscriptions[keyword] = {subscriptions: {}}
  <% keyword.subscriptions.each do |subscription| %>
    user_subscriptions[keyword].keyword_id = "<%= keyword._id.to_s %>";
    user_subscriptions[keyword].subscriptions.<%= subscription.subscription_type %> = "<%= subscription._id.to_s %>";
  <% end %>
</script>