<li class="keyword <%= keyword.keyword_type ? "item #{keyword.keyword_type}" : "search" %>" id="keyword-<%= keyword.id %>">
  <a class="rss" href="/keyword/<%= keyword.id %>.rss">
    <img src="/images/rss-32.png" />
  </a>
  <h2>
    <a href="/search/<%= form_escape keyword.keyword %>" onclick="return false" 
      data-keyword="<%= form_escape keyword.keyword %>"
      data-keyword_id="<%= form_escape keyword.id %>"
      data-keyword_type="<%= keyword.keyword_type %>"
      >
      <%= keyword.keyword_name || keyword.keyword %>
    </a>
  </h2>
  
  <form method="post" action="/keyword/<%= keyword.id %>" onsubmit="return false">
    <input type="hidden" name="_method" value="delete" />
    
    <button class="remove image" 
      data-keyword_id="<%= form_escape keyword.id %>"
      data-keyword="<%= form_escape keyword.keyword %>">
      Remove
    </button>
  </form>

  <section class="types">
    <%= keyword.subscriptions.sort_by(&:subscription_type).map do |subscription|
      if keyword.keyword_type and item_data[keyword.keyword_type]
        item_data[keyword.keyword_type][:subscriptions][subscription.subscription_type]
      elsif subscription_types[subscription.subscription_type]
        subscription_types[subscription.subscription_type][:name]
      else
        nil
      end
    end.compact.join(", ") %>
  </section>
  
</li>

<script type="text/javascript">
  // will overwrite the same data on initial load, but guarantees that 
  // new subscriptions added dynamically will keep the master map up to date
  var keyword = encodeURIComponent("<%= form_escape keyword.keyword %>");
  user_subscriptions[keyword] = {subscriptions: {}}
  <% keyword.subscriptions.each do |subscription| %>
    user_subscriptions[keyword].keyword_id = "<%= keyword._id.to_s %>";
    user_subscriptions[keyword].subscriptions.<%= subscription.subscription_type %> = "<%= subscription._id.to_s %>";
  <% end %>
</script>