<li class="keyword" id="keyword-<%= keyword.id %>">
  <h2>
    <a href="#" onclick="return false" 
      data-keyword="<%= form_escape keyword.keyword %>"
      data-keyword_id="<%= form_escape keyword.id %>"
      >
      <%= keyword.keyword %>
    </a>
  </h2>
  
  <form method="post" action="/keyword/<%= keyword.id %>" onsubmit="return false">
    <input type="hidden" name="_method" value="delete" />
    
    <button class="remove image" 
      data-keyword_id="<%= form_escape keyword.id %>"
      data-keyword="<%= form_escape keyword.keyword %>">
      Remove
    </button>
  </form>
  
</li>