<li class="keyword" id="keyword-<%= keyword.id %>">
  <h2>
    <a href="#" onclick="return false" 
      data-keyword="<%= form_escape keyword.keyword %>"
      data-keyword_id="<%= form_escape keyword.id %>"
      >
      <%= keyword.keyword %>
    </a>
  </h2>
  
  <form method="post" action="/keyword/<%= keyword.id %>" onsubmit="return false">
    <input type="hidden" name="_method" value="delete" />
    
    <button class="remove image" 
      data-keyword_id="<%= form_escape keyword.id %>"
      data-keyword="<%= form_escape keyword.keyword %>">
      Remove
    </button>
  </form>

  <section class="delivery">
    
    <span class="email">Email immediately</span>
  </section>
  
</li>

<script type="text/javascript">
  var subscriptions = {};
  <% keyword.subscriptions.each do |subscription| %>
    subscriptions['<%= subscription.subscription_type %>'] = '<%= subscription._id.to_s %>';
  <% end %>

  $("li#keyword-<%= keyword.id %>").data("subscriptions", subscriptions)
</script>