<% bill = interest.data %>
<% vote = item.data %>

<%= email_header vote['motion'], item_url(item, interest, user) %>

<%= email_subheader_div %>
  <%= just_date(item.date) %>
</div>

<%= email_content_p %>
  <%= state_vote_type vote %> vote, <%= state_vote_count vote %>
</p>