<li class="item <%= item.subscription_type %>"
  data-subscription_type="<%= item.subscription_type %>"
  data-search_type="<%= interest.search_type %>">

  <div class="side">
    <time class="result">
      <%= just_date_year item.date %>
    </time>
  </div>

  <%= partial "subscriptions/#{item.subscription_type}/result", engine: "erb", locals: {interest: interest, item: item, query: query} %>

  <% if defined?(preview) and preview %>
    <div class="source">
      <span>
        <% if item.search? %>
          Matched search:
        <% elsif item.item? %>
          Related to bill:
        <% elsif item.feed? %>
          From feed:
        <% end %>
      </span>
      <span class="name">
        <%= interest_name interest, long: false %>
      </span>
    </div>
  <% end %>
</li>