<form action="#" method="get" id="search_form">
    <fieldset class="searchField">
        <label for="query">Search</label>
        <input class="transparent query" name="query" type="search" 
            maxlength="300"
            <% if params[:query_type] != "advanced" %>
                placeholder="Search for a keyword or phrase..."
            <% else %>
                placeholder="Enter search terms..."
            <% end %>
            value="<%= h params[:query] %>"
            />
    </fieldset>

    <div class="clear"></div>

    <button type="submit">
        <span>Get Started</span>
    </button>

    <div class="clear"></div>

    <fieldset class="query_type">
        <input id="query_type_simple" type="radio" name="query_type" value="simple" <%= "checked" if params[:query_type] != "advanced" %> />
        <label for="query_type_simple">Simple phrase</label>
        <input id="query_type_advanced" type="radio" name="query_type" value="advanced" <%= "checked" if params[:query_type] == "advanced" %>/>
        <label for="query_type_advanced">Advanced</label>
    </fieldset>

    <div class="clear"></div>

    <div class="search_explanations">
        <ul class="search_explain simple"
            <%= "style=\"display: none\"" if params[:query_type] == "advanced" %>
            >
            <li>e.g. crowdfunding, intellectual property, 5 USC 552</li>
        </ul>
        <ul class="search_explain advanced"
            <%= "style=\"display: none\"" if params[:query_type] != "advanced" %>
            >
            <li>quotes around phrases, e.g. "open government"</li>
            <li>minus sign excludes a term, e.g. -fire, -"fire sale"</li>
        </ul>
    </div>
</form>