<% hearing = item.data %>
<item>
  <title>
    <%= hearing['committee']['name'] %> - <%= hearing['occurs_at'].strftime("%A, %B %d") %>, <%= hearing['time_of_day'] %>
  </title>
  <description><![CDATA[
    <%= excerpt hearing['description'], interest.in %>
  ]]></description>
  <link>http://www.senate.gov/pagelayout/committees/b_three_sections_with_teasers/committee_hearings.htm</link>
  <!-- I have no idea what to put for a guid here -->
  <pubDate><%= rss_date item.date %></pubDate>
</item>