<section class="main">

  <section class="entry">
    <% if defined?(keyword) and keyword.errors.any? %>
      <div class="errors">
        <% keyword.errors.full_messages.each do |msg| %>
          <span><%= msg %></span>
        <% end %>
      </div>
    <% end %>
    
    <form class="search" action="/search" method="get" onsubmit="return false">
      <input type="text" class="query" name="keyword" placeholder="keyword or phrase" />
      
      <!-- filled in with ID of saved search if one is loaded -->
      <input type="hidden" id="keyword_id" name="keyword_id" />
      
      <!-- filled in with keyword that populates the current search results -->
      <input type="hidden" id="keyword_searched" name="keyword_searched" />
      
      <div class="buttons">
        <button class="image search">Search</button>
      </div>
    </form>
  </section>

  <section class="results" id="results">
    <%= styled_flash %>
    
    <% sorted_types = subscription_types.sort_by {|k, v| v[:order]} %>
    <ul class="tabs">
      <% sorted_types.each do |type, data| %>
        <li class="<%= type %> <%= type == sorted_types.first.first ? "first active" : "" %>" 
            data-type="<%= type %>"
            >
            <%= data[:name] %>
        </li>
      <% end %>
    </ul>

    <div class="container">
      <% sorted_types.each do |type, data| %>
        <div class="tab <%= type %>" 
          data-type="<%= type %>"
          >

          <div class="loading_container">
            <span>searching...</span>
          </div>

          <div class="system_error">
            There was a system error while searching.
          </div>

          <div class="header">
            <span class="description">
            </span>

            <button class="text follow"
              data-type="<%= type %>"
              >
              Follow
            </button>
          </div>

          <div class="results_list">
            <!-- results for each subscription type get loaded in here -->
          </div>

        </div>
      <% end %>
    </div>

    <div class="introduction">
      
    </div>

  </section>

</section>

<section class="sidebar">

  <% if logged_in? %>
    <div class="login">
      <span>
        <%= current_user.email %>
      </span>
      <a class="logout" href="/logout">logout</a>
    </div>
  <% end %>
  
  <ul class="subscriptions">
    <% keywords.each do |keyword, subscriptions| %>
      <%= partial :"partials/keyword", :locals => {:keyword => keyword, :subscriptions => subscriptions} %>
    <% end %>
  </ul>

</section>