<% content_for :header do %>
  Enter in keywords below to get notified when they appear in bills that are introduced or revised.
<% end %>

<section class="entry">
  <% if defined?(keyword) and keyword.errors.any? %>
    <div class="errors">
      <% keyword.errors.full_messages.each do |msg| %>
        <span><%= msg %></span>
      <% end %>
    </div>
  <% end %>
  
  <form action="/subscriptions" method="post">
    <input type="text" name="keyword" placeholder="keyword/phrase" />
    
    <div class="buttons">
      <input type="submit" value="Add" />
    </div>
  </form>
</section>

<section class="subscriptions">

  <ul>
    
    <% keywords.each do |keyword| %>
      <% subscriptions = keyword.subscriptions.all %>
      <% subscriptions.each do |subscription| %>
        <li class="existing">
          <form method="post" action="/subscriptions/<%= subscription.id %>">
            <input type="hidden" name="_method" value="delete" />
            
            <h2><%= subscription.keyword %></h2>
            
            <div class="buttons">
              <input data-id="<%= subscription.id %>" class="test existing" type="button" value="Test" />
              <input class="remove subscription" type="submit" value="Remove" data-keyword="<%= form_escape subscription.keyword %>" />
            </div>
          </form>
          
        </li>
      <% end %>
    <% end %>

  </ul>

  <script type="text/javascript">
    $(function() {
      
      $("input.remove.subscription").click(function() {
        if (confirm("Remove this alarm?"))
          this.parentNode.submit();
        
        return false;
      });
      
      $("input.test").click(function() {
        var id = $(this).data("id");
        
        $("#results div.container").html("");
        $("#results div.loading_container").show();
        
        $.get("/subscriptions/" + id + "/test", function(data) {
          $("#results div.loading_container").hide();
          $("#results div.container").html(data);
        })
        .error(function() {
          $("#results div.loading_container").hide();
          $("#results div.container").html("<p class=\"error\">Error loading results.</p>");
        });
      });
      
      // testing
      // $("input.test").get(0).click();
    });
  </script>

</section>

<section class="results" id="results">
  <div class="loading_container">
    <img class="loading" src="/images/loader.gif" />
  </div>
  <div class="container">
    <!-- results get loaded in here -->
  </div>
</section>