<section class="entry">
  <% if defined?(keyword) and keyword.errors.any? %>
    <div class="errors">
      <% keyword.errors.full_messages.each do |msg| %>
        <span><%= msg %></span>
      <% end %>
    </div>
  <% end %>
  
  <form class="search" action="/search" method="get" onsubmit="return false">
    <input type="text" class="query" name="keyword" placeholder="keyword or phrase" />
    
    <!-- filled in with ID of saved search if one is loaded -->
    <input type="hidden" id="keyword_id" name="keyword_id" />
    
    <!-- filled in with keyword that populates the current search results -->
    <input type="hidden" id="keyword_searched" name="keyword_searched" />
    
    <div class="buttons">
      <button class="image search">Search</button>
    </div>
  </form>
</section>

<section class="results" id="results">
  <div class="loading_container">
    <span>searching through many things...</span>
  </div>
  
  <div class="container">
    <!-- results get loaded in here -->
  </div>
</section>

<section class="sidebar">

  <div class="save buttons">
    <button class="text nothing" disabled>
      Subscribe
    </button> 
    
    <button class="text save" style="display: none">
      Subscribe
    </button>
    
    <button class="text saving" disabled style="display: none">
      Subscribing...
    </button>
    
    <button class="text saved" disabled style="display: none">
      Subscribe
    </button>

    <button class="text update" style="display: none">
      Re-subscribe
    </button>
  </div>
  
  <style>
    <% subscription_types.each do |type, data| %>
/*      section.sidebar ul.filters li button.filter.<%= type %>.on {background-color: <%= data[:color] %>;}
      section.results li.result.<%= type %> {border-left-color: <%= data[:color] %>;}*/
    <% end %>
  </style>

  <ul class="filters">
    <% subscription_types.sort_by {|k, v| v[:order]}.each do |type, data| %>
      <li>
        <button class="text filter <%= type %> off" 
          data-group="<%= data[:group] %>" 
          data-type="<%= type %>"
          disabled
          >
          <span class="status">off</span>
          <span class="name">
            <%= data[:name] %>
          </span>
        </button>
      </li>
    <% end %>
  </ul>
  
  <ul class="subscriptions">
    <% keywords.each do |keyword, subscriptions| %>
      <%= partial :"partials/keyword", :locals => {:keyword => keyword, :subscriptions => subscriptions} %>
    <% end %>
  </ul>

</ul>

<script type="text/javascript">
  
  $(function() {
    
    $("button.save, button.update").click(function() {
      var keyword = $("#keyword_searched").val();
      var keyword_id = $("#keyword_id").val();

      showSave("saving");
      
      var selected_types = [];
      $("button.filter.on").each(function(i, elem) {
        selected_types[selected_types.length] = $(elem).data("type");
      });

      if (keyword_id) {
        
        $.post("/keyword/" + keyword_id + "/resubscribe", {
          _method: "put",
          keyword: keyword,
          "subscription_types[]": selected_types
        }, function(data) {
          console.log("Subscription updated: " + data.keyword_id);
          
          showSave("saved");

          $("ul.subscriptions #keyword-" + data.keyword_id).replaceWith(data.pane);
          if ($("#keyword_searched").val() == keyword)
            selectKeyword(data.keyword_id);
        })
        .error(function() {
          console.log("Error creating subscription.");
          showSave("save");
        });

      } else {
        $.post("/keywords", {
          keyword: keyword,
          "subscription_types[]": selected_types
        }, function(data) {
          console.log("Subscription created: " + data.keyword_id);
          
          showSave("saved");

          $("ul.subscriptions").prepend(data.pane);

          if ($("#keyword_searched").val() == keyword)
            selectKeyword(data.keyword_id);
        })
        .error(function() {
          console.log("Error creating subscription.");
          showSave("save");
        });
      }
    });
    
    $("li.keyword button.remove").live("click", function() {
      var keyword_id = $(this).data("keyword_id");
      var keyword = $(this).data("keyword");
      
      if (confirm("Remove the saved search \"" + keyword + "\"?")) {
        $.post("/keyword/" + keyword_id, {
          _method: "delete"
        }, function(data) {
          console.log("Keyword by ID " + keyword_id + " removed.");
          $("#keyword-" + keyword_id).remove();

          // if the current search was removed
          if ($("#keyword_id").val() == keyword_id) {
            selectKeyword();
            showSave("save");
          }
        })
        .error(function() {
          console.log("Error removing saved search.");
        });
      }
      
      return false;
    });
    
    $("li.keyword h2 a").live("click", function() {
      var keyword = $(this).data("keyword");
      var keyword_id = $(this).data("keyword_id");
      
      $("input.query").val(keyword);
      searchFor(keyword, keyword_id);
      
      return false;
    });
    
    $("form.search").submit(function() {
      var keyword = $("input.query").val();
      if (keyword) keyword = keyword.trim();
      if (!keyword) return;
      if ($("#keyword_searched").val() == keyword) return;
      
      searchFor(keyword);
      return false;
    });
    
    $("ul.filters button").click(function() {
      var elem = $(this);
      var status = elem.find("span.status");
      var type = elem.data("type");

      if ($("#keyword_id").val())
        showSave("update");
      
      if (elem.hasClass("on")) {
        elem.removeClass("on").addClass("off");
        status.html("off");
        $("section.results li.result." + type).hide();
        dateScan();
      } else {
        elem.removeClass("off").addClass("on");
        status.html("on");
        $("section.results li.result." + type).show();
        dateScan();
      }
      
      return false;
    }).prop("disabled", true);
    
    function dateScan() {
      $("section.results p.date").each(function(i, elem) {
        if ($(elem).nextUntil("p.date", "li:visible").size() == 0) {
          $(elem).hide();
        } else {
          $(elem).show();
        }
      });
    }

    function selectKeyword(keyword_id) {
      $("#keyword_id").val(keyword_id);
      $("li.keyword").removeClass("current");

      if (keyword_id)
        $("li.keyword#keyword-" + keyword_id).addClass("current");
    }

    function showSave(name) {
      $("section.sidebar div.save.buttons button").hide();
      $("section.sidebar button." + name).show();
    }
    
    function searchFor(keyword, keyword_id) {
      showSave("nothing");
      
      $("#results div.container").html("");
      $("#results div.loading_container").show();
      
      $("#keyword_searched").val(keyword);
      selectKeyword(keyword_id);
      
      $("ul.filters button").prop("disabled", true).removeClass("on").addClass("off")
        .find("span.status").html("off");
      
      $.get("/search", {
        keyword: keyword,
        keyword_id: keyword_id
      }, function(data) {
        $("#results div.loading_container").hide();
        $("#results div.container").html(data);
        
        if (keyword_id)
          showSave("saved");
        else
          showSave("save");
      })
      .error(function() {
        $("#results div.loading_container").hide();
        $("#results div.container").html("<p class=\"error\">Error loading results.</p>");
      });
    }
  });
</script>