<section class="main">

  <section class="entry">
    <% if defined?(keyword) and keyword.errors.any? %>
      <div class="errors">
        <% keyword.errors.full_messages.each do |msg| %>
          <span><%= msg %></span>
        <% end %>
      </div>
    <% end %>
    
    <form class="search" action="/search" method="get" onsubmit="return false">
      <input type="text" class="query" name="keyword" placeholder="keyword or phrase" />
      
      <!-- filled in with ID of saved search if one is loaded -->
      <input type="hidden" id="keyword_id" name="keyword_id" />
      
      <!-- filled in with keyword that populates the current search results -->
      <input type="hidden" id="keyword_searched" name="keyword_searched" />
      
      <div class="buttons">
        <button class="image search">Search</button>
      </div>
    </form>
  </section>

  <section class="results" id="results">
    <%= styled_flash %>
    
    <% sorted_types = subscription_types.sort_by {|k, v| v[:order]} %>
    <ul class="tabs">
      <% sorted_types.each do |type, data| %>
        <li class="<%= type %> <%= type == sorted_types.first.first ? "first active" : "" %>" 
            data-type="<%= type %>"
            >
            <%= data[:name] %>
        </li>
      <% end %>
    </ul>

    <div class="container">
      <% sorted_types.each do |type, data| %>
        <div class="tab <%= type %>" 
          data-type="<%= type %>"
          >

          <div class="loading_container">
            <span>searching...</span>
          </div>

          <div class="results_list">
            <!-- results for each subscription type get loaded in here -->
          </div>

        </div>
      <% end %>
    </div>

    <div class="introduction">
      
    </div>

  </section>

</section>

<section class="sidebar">

  <% if logged_in? %>
    <div class="login">
      <span>
        <%= current_user.email %>
      </span>
      <a class="logout" href="/logout">logout</a>
    </div>
  <% end %>
  
  <ul class="subscriptions">
    <% keywords.each do |keyword, subscriptions| %>
      <%= partial :"partials/keyword", :locals => {:keyword => keyword, :subscriptions => subscriptions} %>
    <% end %>
  </ul>

</section>

<script type="text/javascript">
  
  $(function() {
    
    // $("button.save, button.update").click(function() {
    //   var keyword = $("#keyword_searched").val();
    //   var keyword_id = $("#keyword_id").val();

    //   showSave("saving");
      
    //   var selected_types = [];
    //   $("button.filter.on").each(function(i, elem) {
    //     selected_types[selected_types.length] = $(elem).data("type");
    //   });

    //   if (keyword_id) {
        
    //     $.post("/keyword/" + keyword_id + "/resubscribe", {
    //       _method: "put",
    //       keyword: keyword,
    //       "subscription_types[]": selected_types
    //     }, function(data) {
    //       console.log("Subscription updated: " + data.keyword_id);
          
    //       showSave("saved");

    //       $("ul.subscriptions #keyword-" + data.keyword_id).replaceWith(data.pane);
    //       if ($("#keyword_searched").val() == keyword)
    //         selectKeyword(data.keyword_id);
    //     })
    //     .error(function() {
    //       console.log("Error creating subscription.");
    //       showSave("save");
    //     });

    //   } else {
    //     $.post("/keywords", {
    //       keyword: keyword,
    //       "subscription_types[]": selected_types
    //     }, function(data) {
    //       console.log("Subscription created: " + data.keyword_id);
          
    //       showSave("saved");

    //       $("ul.subscriptions").prepend(data.pane);

    //       if ($("#keyword_searched").val() == keyword)
    //         selectKeyword(data.keyword_id);
    //     })
    //     .error(function() {
    //       console.log("Error creating subscription.");
    //       showSave("save");
    //     });
    //   }
    // });
    
    $("li.keyword button.remove").live("click", function() {
      var keyword_id = $(this).data("keyword_id");
      var keyword = $(this).data("keyword");
      
      if (confirm("Remove the saved search \"" + keyword + "\"?")) {
        $.post("/keyword/" + keyword_id, {
          _method: "delete"
        }, function(data) {
          console.log("Keyword by ID " + keyword_id + " removed.");
          $("#keyword-" + keyword_id).remove();

          // if the current search was removed
          if ($("#keyword_id").val() == keyword_id) {
            selectKeyword();
            //showSave("save");
          }
        })
        .error(function() {
          console.log("Error removing saved search.");
        });
      }
      
      return false;
    });
    
    $("li.keyword h2 a").live("click", function() {
      var keyword = $(this).data("keyword");
      var keyword_id = $(this).data("keyword_id");
      
      $("input.query").val(keyword);
      startSearch(keyword, keyword_id);
      
      return false;
    });
    
    $("form.search").submit(function() {
      var keyword = $("input.query").val();
      if (keyword) keyword = keyword.trim();
      if (!keyword) return;
      
      startSearch(keyword);
      return false;
    });

    $("ul.tabs li").click(function() {
      selectTab($(this).data("type"));
    });
    
    function selectTab(type) {
      $("div.container div.tab").hide();
      $("div.container div.tab." + type).show();
      $("ul.tabs li").removeClass("active");
      $("ul.tabs li." + type).addClass("active");
    }
  
    function startSearch(keyword, keyword_id) {
      $("#results div.results_list").html("");
      $("#results div.loading_container").show();
      
      $("#keyword_searched").val(keyword);
      selectKeyword(keyword_id);

      $("#results div.tab").each(function(i, elem) {
        var subscription_type = $(elem).data("type");
        if (i == 0)
          selectTab(subscription_type);
        searchFor(keyword, keyword_id, subscription_type);
      });
    }

    function searchFor(keyword, keyword_id, subscription_type) {
      $("#results ul.tabs").show();
      $("#results div.container").show();

      var tab = $("ul.tabs li." + subscription_type);
      var container = $("#results div.tab." + subscription_type);

      tab.addClass("loading").removeClass("error");

      $.get("/search/" + subscription_type, {
        keyword: keyword,
        keyword_id: keyword_id
      }, function(data) {
        tab.removeClass("loading");
        container.find("div.loading_container").hide();
        container.find("div.results_list").html(data);
      })
      .error(function() {
        tab.removeClass("loading").addClass("error");
        container.find("div.loading_container").hide();
        container.find("div.results_list").html("<p class=\"error\">Error loading results.</p>");
      });
    }

    function selectKeyword(keyword_id) {
      $("#keyword_id").val(keyword_id);
      $("li.keyword").removeClass("current");

      if (keyword_id)
        $("li.keyword#keyword-" + keyword_id).addClass("current");
    }

  });
</script>