<% content_for :header do %>
  Enter in keywords below to get notified when they appear in bills that are introduced or revised.
<% end %>

<section class="entry">
  <% if defined?(keyword) and keyword.errors.any? %>
    <div class="errors">
      <% keyword.errors.full_messages.each do |msg| %>
        <span><%= msg %></span>
      <% end %>
    </div>
  <% end %>
  
  <form action="/keywords" method="post">
    <input type="text" name="keyword" placeholder="keyword/phrase" />
    
    <div class="buttons">
      <input type="submit" value="Add" />
    </div>
  </form>
</section>

<ul class="subscriptions">
    
  <% keywords.each do |keyword, subscriptions| %>
  
    <li class="existing">
      <form method="post" action="/keyword/<%= keyword.id %>">
        <input type="hidden" name="_method" value="delete" />
        
        <h2><%= keyword.keyword %></h2>
        
        <div class="buttons">
          <a class="remove keyword" href="#">Remove</a>
        </div>
      </form>
        
      <ul class="subscription types">
        <% subscription_types.keys.each do |type| %>
          <% subscription = subscriptions.detect {|s| s.subscription_type == type} %>
          <li>
            <input 
              type="checkbox" name="subscription_type" class="subscription_type"
              value="<%= type %>"
              <% if subscription %>
                checked
              <% end %>
              />
            <a class="test" href="#" data-keyword="<%= form_escape keyword.keyword %>" data-type="<%= type %>"><%= subscription_types[type][:name] %></a>
          </li>
        <% end %>
      </ul>
        
      </form>
      
    </li>
  <% end %>

</ul>

<script type="text/javascript">
  $(function() {
    
    $("a.remove.keyword").click(function() {
      if (confirm("Remove this alert?"))
        this.parentNode.parentNode.submit();
      
      return false;
    });
    
    $("a.test").click(function() {
      var keyword = $(this).data("keyword");
      var type = $(this).data("type");
      
      $("#results div.container").html("");
      $("#results div.loading_container").show();
      
      $.get("/subscriptions/test", {
        keyword: keyword,
        subscription_type: type
      }, function(data) {
        $("#results div.loading_container").hide();
        $("#results div.container").html(data);
      })
      .error(function() {
        $("#results div.loading_container").hide();
        $("#results div.container").html("<p class=\"error\">Error loading results.</p>");
      });
      
      return false;
    });
    
    // testing
    // $("input.test").get(0).click();
  });
</script>

<section class="results" id="results">
  <div class="loading_container">
    <img class="loading" src="/images/loader.gif" />
  </div>
  <div class="container">
    <!-- results get loaded in here -->
  </div>
</section>