<section class="entry">
  <% if defined?(keyword) and keyword.errors.any? %>
    <div class="errors">
      <% keyword.errors.full_messages.each do |msg| %>
        <span><%= msg %></span>
      <% end %>
    </div>
  <% end %>
  
  <form class="search" action="/search" method="get" onsubmit="return false">
    <input type="text" class="query" name="keyword" placeholder="something" />
    
    <div class="buttons">
      <button class="image search">Search</button>
    </div>
  </form>
</section>

<section class="results" id="results">
  <div class="loading_container">
    <!--<img class="loading" src="/images/loader.gif" />-->
    <span>searching through many things...</span>
  </div>
  
  <div class="container">
    <!-- results get loaded in here -->
  </div>
</section>

<ul class="subscriptions">

  <button class="text save">
    Save this search
  </button>
    
  <% keywords.each do |keyword, subscriptions| %>
  
    <li class="keyword" id="keyword-<%= keyword.id %>">
      <h2>
        <%= keyword.keyword %>
      </h2>
      
      <form method="post" action="/keyword/<%= keyword.id %>" onsubmit="return false">
        <input type="hidden" name="_method" value="delete" />
        
        <button class="remove image" 
          data-keyword_id="<%= form_escape keyword.id %>"
          data-keyword="<%= form_escape keyword.keyword %>">
          Remove
        </button>
      </form>
      
    </li>
  <% end %>

</ul>

<script type="text/javascript">
  $("input.query").focus();
  $(function() {
    
    $("li.keyword a.remove").click(function() {
      if (confirm("Remove this alert?"))
        this.parentNode.parentNode.submit();
      
      return false;
    });
    
    $("button.save").click(function() {
      var keyword = $("input.query").val();
      $.post("/keywords", {
        keyword: keyword
      }, function(data) {
        console.log("Subscription created.");
      })
      .error(function() {
        console.log("Error creating subscription.");
      });
    });
    
    $("li.keyword button.remove").click(function() {
      var keyword_id = $(this).data("keyword_id");
      var keyword = $(this).data("keyword");
      
      if (confirm("Remove the saved search \"" + keyword + "\"?")) {
        $.post("/keyword/" + keyword_id, {
          _method: "delete"
        }, function(data) {
          console.log("Keyword by ID " + keyword_id + " removed.");
          $("#keyword-" + keyword_id).remove();
        })
        .error(function() {
          console.log("Error removing saved search.");
        });
      }
      
      return false;
    });
    
    $("form.search").submit(function() {
      var keyword = $("input.query").val();
      if (keyword) keyword = keyword.trim();
      if (!keyword) return;
      
      $("ul.subscriptions button.save").hide();
      $("#results div.container").html("");
      $("#results div.loading_container").show();
      
      $.get("/search", {
        keyword: keyword
      }, function(data) {
        $("#results div.loading_container").hide();
        $("#results div.container").html(data);
        $("ul.subscriptions button.save").show();
      })
      .error(function() {
        $("#results div.loading_container").hide();
        $("#results div.container").html("<p class=\"error\">Error loading results.</p>");
      });
      
      return false;
    });
    
    $("input.subscription_type").change(function() {
      var elem = $(this);
      var checked = elem.prop("checked");
      
      if (checked) {
        // create the subscription
        if (elem.data("id")) return; // shouldn't happen
        
        var keyword = elem.data("keyword");
        var type = elem.data("type");
        
        console.log("keyword: " + keyword + ", type: " + type);
        
        elem.hide();
        elem.siblings("img").show();
        
        $.post("/subscriptions", {
          keyword: keyword,
          subscription_type: type
        }, function(data) {
          console.log("created subscription " + data);
          
          elem.siblings("img").hide();
          elem.show();
          elem.data("id", data);
        })
        .error(function() {
          console.log("failed to create subscription, un-checking");
          elem.prop("checked", false); // leave un-checked
        
          elem.siblings("img").hide();
          elem.show();
        });
        
      } else {
        // delete the subscription
        var id = elem.data("id");
        if (!id) return; // shouldn't happen
        
        console.log("deleting " + id);
        
        elem.hide();
        elem.siblings("img").show();
        
        $.post("/subscription/" + id, {
          _method: "delete"
        }, function(data) {
          console.log("deleted " + id);
          elem.siblings("img").hide();
          elem.show();
          
          elem.data("id", null);
        })
        .error(function() {
          console.log("failed to delete " + id + ", rechecking");
          elem.prop("checked", true); // re-check
        
          elem.siblings("img").hide();
          elem.show();
        });
      }
    });
    
    // testing
    // $("input.test").get(0).click();
  });
</script>