<% content_for :header do %>
  Enter in keywords below to get notified when they appear in bills that are introduced or revised.
<% end %>

<section class="subscriptions">

  <div class="subscription new left">
    <form action="/subscriptions/new" method="post">
      <input type="hidden" name="subscription[subscription_type]" value="bills_by_keyword" />
      
      <input type="text" name="subscription[data][keyword]" placeholder="keywords" />
      
      <% if defined?(subscription) and subscription.errors.any? %>
        <div class="errors">
          <% subscription.errors.full_messages.each do |msg| %>
            <span><%= msg %></span>
          <% end %>
        </div>
      <% end %>
      
      <input type="submit" value="Subscribe" />
    </form>
  </div>

  <% subscriptions.each_with_index do |subscription, i| %>
    <% cycle = i % 2 == 0 ? "right" : "left" %>
    <div class="subscription existing <%= cycle %>">
      <h2>"<%= subscription.data['keyword'] %>"</h2>
      
      <form method="post" action="/subscriptions/<%= subscription.id %>">
        <input type="hidden" name="_method" value="delete" />
        <input class="remove subscription" type="submit" value="Unsubscribe" data-keyword="<%= form_escape subscription.data['keyword'] %>" />
        <!--
          <a class="remove subscription" data-keyword="<%= form_escape subscription.data['keyword'] %>" href="#">Unsubscribe</a>
        -->
      </form>
      
    </div>
  <% end %>

  <script type="text/javascript">
    $(function() {
      $("input.remove.subscription").click(function() {
        if (confirm("Unsubscribe?"))
          this.parentNode.submit();
        
        return false;
      });
    });
  </script>

</section>