<% if items and items.any? %>  
  <% items.each do |item| %>
    <%= partial :"partials/item", :locals => {:item => item, :interest_in => interest_in} %>
  <% end %>

  <div class="next_page">
    <button class="action page <%= subscription_type %>"
      data-keyword="<%= form_escape interest_in %>"
      data-type="<%= subscription_type %>"
      >
      Load more results
    </button>
    <p>
      Loading more results...
    </p>
  </div>

<% else %>
  <div class="none">
    <% if items %>
      <% if params[:page] and (params[:page].to_i > 1) %>
        <p>End of results.</p>
      <% else items %>
        <p>No results found for this search.</p>
      <% end %>
    <% else %>
      <p class="error">There was an error during the search. You can try again.</p>
      
      <button class="text refresh"
        data-type="<%= subscription_type %>"
        data-keyword="<%= interest_in %>"
        >
        Refresh
      </button>
    <% end %>
  </div>
<% end %>