<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title></title>  
  
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  
  <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
  
  <script src="/js/jquery-1.7.1.min.js"></script>
  <script src="/js/jquery.pjax.js"></script>
  <script src="/js/jquery.placehold-0.3.min.js"></script>
  <script src="/js/h5f.min.js"></script>
  <script src="/js/main.js"></script>

  <script type="text/javascript">
    // client-side map of a user's keywords and subscriptions, 
    // complete with delicious database IDs (will swap this with a slug or something later)
    var user_subscriptions = {};
    var keyword;
    <% @interests.each do |interest, subscriptions| %>
      keyword = encodeURIComponent("<%= js_escape interest.in %>");
      user_subscriptions[keyword] = {
        keyword_id: "<%= interest.id.to_s %>",
        subscriptions: {}
      };
      <% subscriptions.each do |subscription| %>
        user_subscriptions[keyword].subscriptions.<%= subscription.subscription_type %> = '<%= subscription.id.to_s %>';
      <% end %>
    <% end %>
  </script>
</head>

<body>

  <section class="main">

    <section class="entry">
      <% if defined?(interest) and interest and interest.errors.any? %>
        <div class="errors">
          <% interest.errors.full_messages.each do |msg| %>
            <span><%= msg %></span>
          <% end %>
        </div>
      <% end %>
      
      <form class="search" action="/search" method="get" onsubmit="return false">
        <input type="text" class="query" name="keyword" placeholder="keyword or phrase" />
        
        <div class="buttons">
          <button class="image search">Search</button>
        </div>
      </form>
    </section>
    
    <section id="content">
      <%= yield %>
    </section>

  </section>

  <section class="sidebar">
    <div class="login">
      <% if logged_in? %>
        <span>
          <%= current_user.email %>
        </span>
        <div class="prefs">
          <form action="/user" id="user_prefs" method="put">
            <fieldset>
              <label class="header">Alerts Via</label>
              <input type="radio" class="radio" name="mechanism" value="email" <%= current_user.mechanism == "email" ? "checked" : "" %> />
              <label class="radio">Email</label>
              <input type="radio" class="radio" name="mechanism" value="sms" <%= current_user.mechanism == "sms" ? "checked" : "" %> />
              <label class="radio">SMS</label>
              <br/><br/>
              <label class="text">Phone</label>
              <input type="text" name="phone" value="<%= current_user.phone %>"/>
            </fieldset>
            <fieldset>
              <label class="header">Email Frequency</label>
              <input type="radio" class="radio" name="email_frequency" value="immediate" <%= current_user.delivery['email_frequency'] == "immediate" ? "checked" : "" %> />
              <label class="radio">Immediate</label>
              <input type="radio" class="radio" name="email_frequency" value="daily" <%= current_user.delivery['email_frequency'] == "daily" ? "checked" : "" %> />
              <label class="Radio">Daily Digest</label>
            </fieldset>
            
            <input class="submit" type="submit" value="Update Settings" />
            <a class="logout" href="/logout">logout</a>
          </form>
          <p class="user_results">&nbsp;</p>
        </div>
      <% else %>
        <%= partial :"partials/login_signup" %>
      <% end %>
    </div>
    
    <ul class="subscriptions">
      <% @interests.each do |interest, subscriptions| %>
        <%= partial :"partials/interest", :locals => {:interest => interest, :subscriptions => subscriptions} %>
      <% end %>
    </ul>

    <script type="text/javascript">
      // if we're coming in from a permalink, set up anything that would have otherwise been set up along the way
      <% if params[:interest] %>
        var initial_interest = encodeURIComponent("<%= js_escape params[:interest] %>");
        var keyword_id = user_subscriptions[initial_interest] ? user_subscriptions[initial_interest].keyword_id : null;

        $("input.query").val(initial_interest);
      <% end %>
    </script>

  </section>
  
</body>

</html>