<script type="text/javascript">
  $("ul.filters button").prop("disabled", false);

  <% if subscribed_to %>
    <% subscribed_to.each do |type| %>
     $("ul.filters button.<%= type %>").removeClass("off").addClass("on")
      .find("span.status").html("on");
    <% end %>
  <% else %>
    $("ul.filters button").removeClass("off").addClass("on")
      .find("span.status").html("on");
  <% end %>
</script>

<% if items.any? %>

  <ul>
    <% current_date = nil %>
    <% items.each do |item| %>
    
      <% if item.date.strftime("%Y-%m-%d") != current_date %>
        <p class="date"><%= long_date item.date %></p>
        <% current_date = item.date.strftime("%Y-%m-%d") %>
      <% end %>
      
      <li class="result <%= item.subscription.subscription_type %>">
        <span class="result_type">
          <%= subscription_types[item.subscription.subscription_type][:name] %>
        </span>
        <%= partial :"subscriptions/#{item.subscription.subscription_type}/result", :locals => {:item => item, :keyword => keyword} %>
      </li>
      
    <% end %>
  </ul>
  
<% else %>
  
  <p>
    No results found for this search.
  </p>
  
<% end %>