<section class="results" id="results">
  <%= styled_flash %>
  
  <ul class="tabs">
    <% types.each do |type, data| %>
      <li class="<%= type %> <%= type == types.first.first ? "first active" : "" %>" 
          data-type="<%= type %>"
          >
          <%= data[:name] %>
      </li>
    <% end %>
  </ul>

  <div class="container">

    <% types.each do |type, data| %>
      <div class="tab <%= type %>" 
        data-type="<%= type %>"
        data-current_page="1"
        >

        <div class="loading_container">
          <span>searching...</span>
        </div>

        <div class="system_error">
          There was a system error while searching.
        </div>

        <header>
          <span class="description">
          </span>

          <% if logged_in? %>
            <button class="text follow"
              data-type="<%= type %>"
              data-keyword="<%= form_escape interest_in %>"
              >
              Follow
            </button>
          <% end %>
        </header>

        <% if data[:filter] %>
          <div 
            class="filter"
            data-subscription_type="<%= type %>"
            >
            <%= partial :"subscriptions/#{type}/filter", :locals => {:interest_in => interest_in} %>
          </div>
        <% end %>

        <% unless logged_in? %>
          <div class="logged_out">
            <span>
              To follow this search and be notified when new items appear, enter your email on the right.
            </span>
          </div>
        <% end %>

        <% if config[:debug][:link_to_json] %>
          <div class="developer json search">
            Developer: <a href="#">Original JSON</a>
          </div>
        <% end %>

        <ul class="items">
          <!-- results for each subscription type get loaded in here -->
        </ul>

      </div>
    <% end %>

  </div>

</section>

<script type="text/javascript">
  // put in a delay block in case this is being rendered before the layout
  $(function() {
    var display_keyword = "<%= js_escape interest_in %>";
    var keyword = encodeURIComponent(display_keyword);
    
    var keyword_id = user_subscriptions[keyword] ? user_subscriptions[keyword].keyword_id : null;

    <% types.each do |subscription_type, data| %>
      searchFor(display_keyword, "<%= subscription_type %>");
    <% end %>

    $("li.keyword").removeClass("current");
    $("li.keyword#keyword-" + keyword_id).addClass("current");
    $("input.query").val(display_keyword);

    // if there's an anchor with the active type, select it
    if (window.location.hash) {
      var active_tab = window.location.hash.replace("#", "");
      selectTab(active_tab);
    }

    $(".subscription_data").change(function() {
        var subscription_type = $(this).parents("div.filter").data("subscription_type");
        searchFor(display_keyword, subscription_type);
    });
  });
</script>