<section class="show <%= interest_type %>" id="item-<%= id_escape item_id %>">
  <div class="developer json show">
    <h2>Developer</h2>
    <a href="#">Original JSON</a>
  </div>

  <div class="loading_container">
    <span>loading...</span>
  </div>

</section>

<script type="text/javascript">
  // put in a delay block in case this is being rendered before the layout
  $(function() {
    var item_type = "<%= interest_type %>";
    var item_id = "<%= id_escape item_id %>";
    var container = $("#item-" + item_id);
    container.find(".loading_container").show();

    $("input.query").val('');

    var subscription = $("li.keyword h2 a[data-keyword='" + item_id + "'][data-keyword_type='" + item_type + "']");
    if (subscription) {
      $("li.keyword").removeClass("current");
      subscription.parents("li.keyword").addClass("current");
    }

    $.get("/find/" + item_type + "/" + item_id, {}, function(data) {
      container.find(".loading_container").hide();
      container.append(data.html);
      
      <% if config[:debug][:link_to_json] %>
        container.find(".developer.json.show").show().find("a").attr("href", data.item_url);
      <% end %>

      <% if interest %>
        $("section.show button.track").html("Tracking").addClass("untrack");
        $("section.show button.track").data("keyword_id", "<%= interest.id %>");
      <% end %>
    }).error(function() {
      showError("Couldn't load " + item_type + " with id " + item_id);
    })
  });
</script>