<% content_for :title do %>
    <div class="follow searchParameters">
        <h2>'<%= h query %>'</h2>
        in 
        <% subscriptions.each_with_index do |subscription, i| %>
          <a class="dataset" href="#<%= subscription.subscription_type %>"><%= subscription.search_name %></a><%= ", " unless i == (subscriptions.size - 1) %>
        <% end %>
    </div>
    <button>
        <span>Follow</span>
    </button>
<% end %>


<% content_for :sidebar_left do %>
  
  <!-- subscription-specific filter partial -->

  <%= recent_searches %>
<% end %>

<div class="results contentArea right">
    
    <% subscriptions.each do |subscription| %>
        <div class="search"
          id="<%= subscription.subscription_type %>"
          data-subscription="<%= subscription.subscription_type %>"
          >

          <section class="container clear">
            <h3><%= subscription.search_name %></h3>

            <div class="loading">
              <span>Searching ...</span>
            </div>

            <div class="error">
              <span>There was an error while searching.</span>
            </div>

            <div class="populate">
            </div>
          </section>

        </div>
    <% end %>

</div>

<div class="clear"></div>

<script type="text/javascript">
  // hold the current state of the filters
  // needs to stay a separate hash, since the form can 
  // change without auto-committing the changes

  // initialize with any subscription-wide filters (none yet)
  var current_filters = {
  };

  // put in a delay block in case this is being rendered before the layout
  $(function() {
    var query = "<%= query %>";
    
    <% subscriptions.each do |subscription| %>

      <% # "I think this is safe..." %>
      current_filters["<%= subscription.subscription_type %>"] = <%= subscription.data.to_json %>;

      searchFor(
        query, "<%= subscription.subscription_type %>", 
        {"per_page": <%= subscriptions.size == 1 ? 20 : 2 %>}
      );
    <% end %>
  });

  function searchFor(query, subscription_type, searchOptions) {
    if (!searchOptions) searchOptions = {};

    var query_slug = encodeURIComponent(query);
    var container = $(".results div.search[data-subscription=" + subscription_type + "]");

    // reset elements inside tab
    container.find(".loading").show();
    container.find(".populate").html("").hide();
    
    // all search options (filters, pagination)
    var search = {};
    
    // carry along the universal and subscription-specific filters
    var filters = {};    
    filters[subscription_type] = current_filters[subscription_type];
    $.extend(search, filters);

    
    // any one-time search options (pagination)
    $.extend(search, searchOptions);

    $.get("/fetch/search/" + subscription_type + "/" + query_slug, search, function(data) {
      
      container.find(".loading").hide();
      container.find(".populate").html(data.html).show();

      // set the 'more' link to carry on our filters (and only our filters)
      container.find(".populate a.viewMore").attr("href", 
        "/search/" + subscription_type + "/" + query_slug + "?" + $.param(filters)
      );

      if (data.search_url) {
        $("div.developer.json.search").show().find("a").attr("href", data.search_url);
      }

    }).error(function() {
      container.find(".loading").hide();
      container.find(".error").show();
    });
  }
</script>