<% document = item.data %>

<%= email_header document['description'] || document['hearing_title'], url %>

<%= email_subheader_div %>
  <span class="date">
    <%= just_date item.date %>
  </span>
  &mdash;
  <%= document['type'] %>
  <% if document['witness']['last_name'] %>
    <span>
    <%= document['witness']['first_name'] %> <%= document['witness']['last_name'] %>, <%= document['witness']['organization'] %>
    </span>
  <% end %>

</div>


<%= email_content_p %>
  <% if highlight = document_highlight(item, interest, inline: true) %>
    <%= highlight %>
  <% elsif (description = document_description(document)).present? %>
    <%= truncate description, 500 %>
  <% else %>
    No excerpt or abstract available.
  <% end %>
</div>