<% document = item.data %>

<div class="summary">

  <div class="entryHeader">
    
    <h2><%= document['description'] || document['hearing_title'] %></h2>
    
    <div class="subtitle">
      <p>
        <%= document['document_type_name'] %>
      </p>
      <p>
        <time class="item">
          Published: <%= just_date_year document["published_on"] %>
        </time>
      </p>
    </div>

    <div class="subtitle">
      <p>
        <%= document['hearing_title'] %> <%= document['occours_at'] %>
      </p>
    </div>
    
    <div class="subtitle">
      <% if document['witness_last'] %>
        <p>
          <%= document['witness_first'] %> <%= document['witness_last'] %>, <%= document['witness_organization'] %>
        </p>
      <% end %>
    </div>

  <div class="clear"></div>
  <% if highlight = document_highlight(item, interest) %>
    <p>
      <%= highlight %>
    </p>
  <% elsif (description = document_description(document)).present? %>
    <p>
      <%= truncate description, 500 %>
    </p>  
  <% end %>

  <div class="resources">
    
    <h5>Resources</h5>
    
    <p>
      <% if document["url"] %>
        Source: <a href="<%= document["url"] %>">document["url"]</a>
      <% end %>
    </p>
    <p>
      <% if document["permalink"] %>
        Permalink: <a href="<%= document["permalink"] %>">document["permalink"]</a>
      <% end %>
    </p> 
    </div>
</div>