<% document = item.data %>

<div class="summary">

  <div class="entryHeader">
    
    <h2><%= document['description'] || document['hearing_title'] %></h2>
  </div>  
      <p>
        <time class="item">
          Published: <%= just_date_year document["published_on"] %>
        </time>
      </p>
    <div class="subtitle">
      <p>
        <%= document['document_type_name'] %>
      </p>
    </div>

    <% if document['committee_names'] %>
      <% document['committee_names'].each do |committee| %>
          <div class="subtitle">
            <p><%= committee %></p>
          </div>
      <% end %>
    <% end %>

    <div class="subtitle">
      <p>
        <%= document['hearing_title'] %> <%= document['occours_at'] %>
      </p>
    </div>
    
    <div class="subtitle">
      <% if document['witness_last'] %>
        <p>
          <%= document['witness_first'] %> <%= document['witness_last'] %>, <%= document['witness_organization'] %>
        </p>
      <% end %>
    </div>
  
  <div class="clear"></div>

  <h5>Resources</h5>

  </br>
  
  <% if document['urls'][0] %>
    <div class="resources">
    <table>
    <% if document['urls'][0]['permalink'] %>
      <tr height=30>
        <td><h5>Permalink</h5></td>
        <td>
           <a href="<%= document['urls'][0]['permalink'] %>"> <%= document['urls'][0]['permalink'] %> </a>
        </td> 
      </tr>
    <% end %>

    <% if document['urls'][0]['url'] %>
      <tr height=30>
        <td><h5>Original url</h5></td>
        <td>
           <a href="<%= document['urls'][0]['url'] %>"> <%= document['urls'][0]['url'] %> </a>
        </td> 
      </tr>
    <% end %>
    </table>
    </div>
  <% end %>

  <div class="clear"></div>
 
    <% if document['text_preview'] %>
    <br>
    <h5>Text preview</h5>
    <br>

    <p>
      <%= document['text_preview'] %>...
    </p>
    <% elsif (description = document_description(document)).present? %>
      <%= truncate description, 500 %>
    <% else %>
      No text previes available.
    <% end %>
  </p> 

  <div class="clear"></div>

    
</div>
