<% bill = item.data %>
<li class="result state_bill">
  <h2>
  <span class="state"><%= state_name bill['state'] %></span>
    <!--
    &ndash;
    <span class="code"><%= bill['bill_id'] %></span>
    as of
    <span class="updated_at"><%= very_short_date bill['updated_at'] %></span>
    -->
    <% if state_version_info?(bill) %>
      <a class="read" href="<%= bill['versions'].last['url'] %>">Read</a>
    <% end %>
  </h2>
  
  <h3><%= bill['title'] %></h3>
  
  <% if bill['subjects'] and bill['subjects'].any? %>
    <div class="subjects">
      Keywords: <%= bill['subjects'].join ", " %>
    </div>
  <% end %>
  
  <% if state_in_og?(bill['state']) or state_source_info?(bill) %>
    <section class="links">
      <span>More:</span>
      
      <% if state_in_og?(bill['state']) %>
        <a href="<%= opengovernment_url bill %>">OpenGovernment</a>
      <% end %>
      
      <% if state_source_info?(bill) %>
        <% more_than_one = (bill['sources'].size > 1) %>
        <% bill['sources'].each_with_index do |source, i| %>
          <a href="<%= source['url'] %>">Source<%= " #{i+1}" if more_than_one %></a>
        <% end %>
      <% end %>
      
    </section>
  <% end %>
  
</li>