<% bill = item.data %>
<item>
  <title>
    <%= state_name bill['state'] %> - <%= bill['bill_id'] %>
  </title>
  <description><![CDATA[
    <%= excerpt bill['title'], interest %>
  ]]></description>
    
  <link><%= rss_encode bill['versions'].last['url'] %></link>
  <guid><%= rss_encode bill['versions'].last['url'] %></guid>
  <pubDate><%= rss_date item.date %></pubDate>
</item>