<% bill = item.data %>
<% use_title = state_bill_title_reasonable? bill %>

<div class="followChanges">
  <div class="trackSubscribe" style="margin-top: 16px">
    Subscribe to any <strong>official activity</strong> or <strong>votes</strong> on this bill.
  </div>

    <%= follow_button item %>
  
    <div class="clear"></div>
</div>

<div class="summary">

  <div class="entryHeader">
    <h2>
      <% if use_title %>
        <%= state_bill_title_text bill %>
      <% else %>
        <%= bill['bill_id'] %>
      <% end %>
    </h2>

    <div class="subtitle">
      <%= state_name bill['state'] %>
      &mdash;
      <% if bill['action_dates'] and bill['action_dates']['last'] %>
        <% date = bill['action_dates']['last'] %>
        <% if date < Time.zone.now %>
          Last activity on
        <% else %>
          Next activity on
        <% end %>
      <% else %>
        <% date = bill['created_at'] %>
        Information first discovered on
      <% end %>
      <time class="item" datetime="<%= html_date date %>">
        <%= just_date_year date %>
      </time>
    </div>
  </div>

  <div class="clear"></div>

  <div class="core-context">
    <% unless use_title %>
      <dl>
        <dt>Title</dt>
        <dd>
          <%= state_bill_title bill %>
        </dd>
      </dl>
    <% end %>

    <% if bill['actions'] and bill['actions'].any? %>
      <dl>
        <dt class="float-left">Recent activity</dt>
        <dd>
          <ul>
            <% bill['actions'].reverse.each_with_index do |action, i| %>
              <li class="<%= i == 0 ? "first" : "rest" %>">
                <%= just_date_year action['date'] %> &mdash; <%= truncate action['action'], 500 %>
              </li>
            <% end %>

            <li class="show">
              <a href="#" class="all-actions">Show complete history</a>
            </li>
            <li class="hide">
              <a href="#" class="all-actions">Hide complete history</a>
            </li>
          </ul>
        </dd>
      </dl>
    <% end %>
  </div>
        
  <div class="resources">
    <h5>Resources</h5>
    
    <span>
      Visit 
      <strong><a data-resource="open_states" href="<%= openstates_url bill %>" title="Open States">Open States</a></strong>
      for much more information about this bill.
    </li>
  </div>

  <% if bill['versions'] and bill['versions'].any? %>
    <div id="document">
      <header>
        <strong>Full Text</strong>
        <span>
          Read the <a data-resource="original" href="<%= bill['versions'].last['url'] %>">official bill text</a>.
        </span>
      </header>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    $(".core-context li.show a").click(function() {
      $(".core-context li.rest").show();
      $(".core-context li.hide").show();
      $(".core-context li.show").hide();
      return false;
    });

    $(".core-context li.hide a").click(function() {
      $(".core-context li.rest").hide();
      $(".core-context li.hide").hide();
      $(".core-context li.show").show();
      return false;
    });
  });
</script>