<% bill = item.data %>

<div class="summary">

	<div class="entryHeader">
    <% if bill['+short_title'] %>
        <h2><%= bill['+short_title'] %></h2>
    <% else %>
        <h2 class="official bill title"><%= bill['title'] %></h3>
    <% end %>
		<div class="subtitle">
			<h4>
		        <%= bill['bill_id'] %> in <%= state_name bill['state'] %>
		    </h4>
		</div>
	</div>
   	<div class="time">

        <time class="item" datetime="<%= html_date item.date %>">
            <%= just_date_year item.date %>
        </time>
	    <span>
            First found
        </span>
	</div>
	<p>
	<% if bill['abstract'] %>
        <%= bill['abstract'] %>
    <% else %>
        (No abstract available from the Federal Register.)
    <% end %>
	</p>

    <div class="clear"></div>


    <% if bill['versions'] and bill['versions'].any? %>
        <a class="source" href="<%= bill['versions'].last['url'] %>">
            Original Text
        </a>

    <% elsif bill['sources'] and bill['sources'].any? %>
        <% bill['sources'].each_with_index do |source, i| %>
            <a class="source" href="<%= source['url'] %>">Source <%= i + 1 %></a>
        <% end %>
    <% end %>

</div>
<div class="followChanges">
	<div class="trackSubscribe">
		Follow activity on this bill.
	</div>
<%= follow_button item %>
	<div class="clear"></div>
</div>

<div class="details">

    <div class="module of2">
        <h5>Votes</h5>
        <ul class="votes">
            <% if bill['votes'] and bill['votes'].any? %>
                <% bill['votes'].reverse.each do |vote| %>
                    <li>
                        <div class="left">
                            <span class="date"><%= just_date_year vote['date'] %></span>
                            <p class="type"><%= state_vote_type vote %></p>
                        </div>
                        <div class="right">
                            <p class="motion"><%= vote['motion'] %></p>
                            <p class="vote_count"><%= state_vote_count vote %></p>
                        </div>
                    </li>
                <% end %>
            <% else %>
                No votes taken yet.
            <% end %>
        </ul>
    </div>
    
    <div class="module of2">
        <h5>Recent Activity</h5>
        <ul class="activity">
            <% if bill['actions'] and bill['actions'].any? %>
                <% bill['actions'].reverse[0...5].each do |action| %>
                    <li>
                        <span class="date"><%= just_date_year action['date'] %></span>
                        -
                        <%= action['action'] %>
                    </li>
                <% end %>
            <% else %>
                No official activity on this bill yet.
            <% end %>
        </ul>
    </div>
	<div class="clear"></div>

</div>