<% bill = item.data %>

<div class="followChanges">
  <div class="trackSubscribe">
    Subscribe to any <strong>official activity</strong> or <strong>votes</strong> on this bill.
  </div>

    <%= follow_button item %>
  
    <div class="clear"></div>
</div>

<div class="summary followable">

  <div class="entryHeader">
    <h2><%= bill['bill_id'] %></h2>

    <div class="subtitle">
      <%= state_name bill['state'] %>
      &mdash;
      Information first discovered on
      <time class="item" datetime="<%= html_date item.date %>">
          <%= just_date_year item.date %>
      </time>
    </div>
  </div>
        
    <div class="clear"></div>
    <div class="resources">
        <h5>Resources</h5>
        <% if bill['versions'] and bill['versions'].any? %>
          <a class="source" href="<%= bill['versions'].last['url'] %>">
            Original Text
          </a>

        <% elsif bill['sources'] and bill['sources'].any? %>
          <% bill['sources'].each_with_index do |source, i| %>
            <a class="source" href="<%= source['url'] %>">Source <%= i + 1 %></a>
          <% end %>
      <% end %>
  </div>

    <p>
      <% if bill['+short_title'].present? %>
        <%= bill['+short_title'] %>
      <% else %>
        <%= state_bill_title bill %>
      <% end %>
    </p>

</div>