<% bill = item.data %>

<header>
    <div class="titles">
        <h4><%= bill['bill_id'] %></h4>
        <% if bill['+short_title'] %>
            <h2><%= bill['+short_title'] %></h2>
        <% else %>
            <h3><%= bill['title'] %></h3>
        <% end %>
    </div>
    <%= partial :"partials/track", :locals => {
        :item => item,
        :interest_type => interest_type
    } %>
</header>

<section class="detail">
    <% if state_in_og?(bill['state']) %>
        <h2>Resources</h2>
        <div class="resources">
            <a target="_blank" href="<%= opengovernment_url bill %>">OpenGovernment.org</a>
        </div>
    <% end %>

    <h2>Latest Version</h2>
    <div class="latest_version">
        <p>
            <% if bill['versions'] and bill['versions'].any? %>
                <% version = bill['versions'].last %>
                <a href="<%= version['url'] %>">
                    <%= version['title'] || "Official Document" %>
                </a>
            <% else %>
                No version information available right now.
            <% end %>
        </p>
        <% if bill['sources'] and bill['sources'].any? %>
            <% bill['sources'].each_with_index do |source, i| %>
                <p>
                    <a href="<%= source['url'] %>">Source <%= i + 1 %></a>
                </p>
            <% end %>
        <% end %>
    </div>

    <% if bill['votes'] %>
        <h2>Related Votes</h2>
        <ul class="votes">
            <% if bill['votes'].any? %>
                <% bill['votes'].reverse.each do |vote| %>
                    <li>
                        <div class="left">
                            <span class="date"><%= just_date vote['date'] %></span>
                            <p class="type"><%= state_vote_type vote %></p>
                        </div>
                        <div class="right">
                            <p class="motion"><%= vote['motion'] %></p>
                            <p class="vote_count"><%= state_vote_count vote %></p>
                        </div>
                    </li>
                <% end %>
            <% else %>
                <p>No votes taken yet on this bill.</p>
            <% end %>
        </ul>
    <% end %>
    
    <% if bill['actions'] %>
        <h2>Activity</h2>
        <ul class="activity">
            <% bill['actions'].reverse.each do |action| %>
                <li>
                    <span class="date"><%= just_date action['date'] %></span>
                    -
                    <%= action['action'] %>
                </li>
            <% end %>
        </ul>
    <% end %>

</section>