<% bill = item.data %>
<div class="followChanges">
	<div class="trackSubscribe">
		Follow activity on this bill.
	</div>
    <%= follow_button item %>
	<div class="clear"></div>
</div>
<div class="summary followable">

	<div class="entryHeader">
        <h2><%= bill['bill_id'] %></h2>
		<div class="subtitle">
		    <%= state_name bill['state'] %>
            &mdash;
            Information first discovered on
            <time class="item" datetime="<%= html_date item.date %>">
                <%= just_date_year item.date %>
            </time>
		</div>
	</div>
        
    <div class="clear"></div>

    <% if bill['versions'] and bill['versions'].any? %>
        <a class="source" href="<%= bill['versions'].last['url'] %>">
            Original Text
        </a>

    <% elsif bill['sources'] and bill['sources'].any? %>
        <% bill['sources'].each_with_index do |source, i| %>
            <a class="source" href="<%= source['url'] %>">Source <%= i + 1 %></a>
        <% end %>
    <% end %>

    <p>
        <% if bill['+short_title'] %>
            <%= bill['+short_title'] %>
        <% else %>
            <%= truncate_more "state_bill_title", bill['title'], 500 %>
        <% end %>
    </p>

</div>

<div class="details">

    <div class="module of2">
        <h4>Votes</h4>
        <table class="votes">
			<tbody>
            <% if bill['votes'] and bill['votes'].any? %>
                <% bill['votes'].reverse.each do |vote| %>
                    <tr>
                        <td class="time">
                            <%= just_date_year vote['date'] %>
                        </td>
                        <td>
                            <p class="motion"><%= vote['motion'] %></p>
                            <p class="vote_count"><%= state_vote_count vote %></p>
                        <td>
                    </tr>
                <% end %>
            <% else %>
				<tr>
                    No votes taken yet.
				</tr>
            <% end %>
        	</tbody>
		</table>
    </div>
    
    <div class="module of2">
        <h4>Recent Activity</h4>
        <table class="activity">
			<tbody>            
			<% if bill['actions'] and bill['actions'].any? %>
                <% bill['actions'].reverse[0...5].each do |action| %>
                    <tr>
                        <td class="date time"><%= just_date_year action['date'] %></td>
						<td><%= action['action'] %></td>
                    </tr>
                <% end %>
            <% else %>
                <tr>
					<td colspan="2">
					No official activity on this bill yet.
					</td>
				</tr>
            <% end %>
        	</tbody>
		</table>
    </div>
	<div class="clear"></div>

</div>