<% bill = item.data %>

<div class="followChanges">
  <div class="trackSubscribe" style="margin-top: 16px">
    Subscribe to any <strong>official activity</strong> or <strong>votes</strong> on this bill.
  </div>

    <%= follow_button item %>
  
    <div class="clear"></div>
</div>

<div class="summary followable">

  <div class="entryHeader">
    <h2><%= bill['bill_id'] %></h2>

    <div class="subtitle">
      <%= state_name bill['state'] %>
      &mdash;
      <% if bill['action_dates'] and bill['action_dates']['last'] %>
        <% date = bill['action_dates']['last'] %>
        <% if date < Time.zone.now %>
          Last activity on
        <% else %>
          Upcoming activity on
        <% end %>
      <% else %>
        <% date = bill['created_at'] %>
        Information first discovered on
      <% end %>
      <time class="item" datetime="<%= html_date date %>">
        <%= just_date_year date %>
      </time>
    </div>
  </div>
        
    <div class="clear"></div>
    <div class="resources">
        <h5>Resources</h5>
        <li class="openstates">
          <a data-resource="open_states" href="<%= openstates_url bill %>" title="Open States">
            Open States
          </a>
        </li>
        
        <% if bill['versions'] and bill['versions'].any? %>
          <a data-resource="original" class="source" href="<%= bill['versions'].last['url'] %>">
            Original Text
          </a>

        <% elsif bill['sources'] and bill['sources'].any? %>
          <% bill['sources'].each_with_index do |source, i| %>
            <a data-resource="original" class="source" href="<%= source['url'] %>">Source <%= i + 1 %></a>
          <% end %>
      <% end %>
  </div>

  <% if bill['+short_title'].present? %>
    <p><%= bill['+short_title'] %></p>
  <% else %>
    <%= state_bill_title bill %>
  <% end %>
    

</div>