<% opinion = item.data %>

<div class="summary">

  <div class="entryHeader">
    <h2>
      <%= opinion['case_name'] %>
    </h2>
    <div class="subtitle">
      Opinion from the
      <%= opinion['court'] %>,
      filed on
      <time datetime="<%= html_date item.date %>">
        <%= just_date_year item.date %>
      </time>
    </div>
  </div>

  <div class="clear"></div>

  <div class="resources">
    <h5>Resources</h5>
    <ul>
      <span>
        Visit our data source,
        <strong><a href="https://www.courtlistener.com<%= opinion['absolute_url'] %>">
          CourtListener</a></strong>,
        for much more information.
      </span>
    </ul>
  </div>

  <div id="document">
    <header>
      <strong>Full Opinion</strong>
      <span>
        We do our best to display the opinion below.
        <% if opinion['download_url'] %>
          You can also read the
          <em><a href="<%= opinion['download_url'] %>" target="_blank">
            original text</a></em>.
        <% end %>
      </span>
    </header>

    <hr/>

    <article>
      <pre>
        <%= opinion['text'] %>
      </pre>
    </article>
  </div>
</div>