<% action = item.data %>
<% bill_fields = bill_fields_from keyword %>
<% bill_code = bill_code bill_fields[0], bill_fields[1] %>
<item>
  <title>
    <%= bill_code %> - <%= just_date action['acted_at'] %> - New activity
  </title>
  <description><![CDATA[
    <%= action['text'] %>
  ]]></description>
    
  <link>http://<%= config[:hostname] %><%= item_path 'bill', keyword %></link>
  <pubDate><%= rss_date item.date %></pubDate>
</item>