<% bill = item.data %>
<% version = item.data['last_version'] %>

<% if bill['short_title'].present? %>
  <%= email_header bill['short_title'], url %>
<% else %>
  <%= email_header bill['official_title'], url %>
<% end %>

<%= email_subheader_div %>
  <span class="code">
    <%= just_date item.date %>,
    <%= bill_code bill['bill_type'], bill['number'] %>
  </span>
  &mdash;
  <span class="version">
    <% if version %>
      <%= bill_version version['version_code'] %>
    <% else %>
      Introduced
    <% end %>
    by
    <%= bill_sponsor bill %>
  </span>
</div>

<%= email_content_p %>
  <% if highlight = bill_highlight(item, interest, inline: true) %>
    <%= highlight %>
  <% elsif bill['summary'] %>
    <%= truncate bill['summary'], 500 %>
  <% else %>
    No excerpt or summary available.
  <% end %>
</div>