<% bill = item.data['bill'] %>

<% if bill['short_title'].present? %>
  <h2><%= bill['short_title'] %></h2>
<% else %>
  <h3><%= bill['official_title'] %></h3>
<% end %>

<div class="subtitle">
  <span class="code"><%= bill_code bill['bill_type'], bill['number'] %></span>
  <span class="version">as <%= bill_version item.data['version_code'] %></span>
  <span class="issued_on">on <%= very_short_date item.data['issued_on'] %></span>
  <% if item.data['urls'] and item.data['urls']['pdf'] %>
    <a class="file pdf" href="<%= item.data['urls']['pdf'] %>">PDF</a>
  <% end %>
  <% if item.data['urls'] and item.data['urls']['xml'] %>
    <a class="file xml" href="<%= item.data['urls']['xml'] %>">HTML</a>
  <% end %>
</div>

<% if item.data['search']['highlight'] %>
  <dl class="highlight">
    <dd class="content">
      <%= bill_highlight item, keyword %>
    </dd>
  </dl>
<% end %>

<section class="more">
  <a href="<%= govtrack_url item %>">GovTrack</a>
  <a href="<%= opencongress_url item %>">OpenCongress</a>
  <a href="<%= thomas_url item %>">THOMAS</a>
</section>