<% bill = item.data %>
<% version = item.data['last_version'] %>

<% if bill['short_title'].present? %>
  <h2><%= bill['short_title'] %></h2>
<% else %>
  <h3><%= bill['official_title'] %></h3>
<% end %>

<div class="subtitle">
  <span class="code"><%= bill_code bill['bill_type'], bill['number'] %></span>
  <span class="version">as <%= bill_version version['version_code'] %></span>
  <span class="issued_on">on <%= very_short_date version['issued_on'] %></span>
  <% if version['urls'] and version['urls']['pdf'] %>
    <a class="file pdf" href="<%= version['urls']['pdf'] %>">PDF</a>
  <% end %>
  <% if version['urls'] and version['urls']['xml'] %>
    <a class="file xml" href="<%= version['urls']['xml'] %>">HTML</a>
  <% end %>
</div>

<% if item.data['search']['highlight'] %>
  <dl class="highlight">
    <dd class="content">
      <%= bill_highlight item, interest %>
    </dd>
  </dl>
<% end %>

<section class="more">
  <a class="landing" href="<%= item_path item %>">
    More information &raquo;
  </a>
</section>