<% bill = item.data %>
<% version = item.data['last_version'] %>

<a href="<%= item_path item %>">
  <% if bill['short_title'].present? %>
    <h4><%= bill['short_title'] %></h4>
  <% else %>
    <h4 class="smaller"><%= bill['official_title'] %></h4>
  <% end %>
</a>

<div class="subtitle">
  <span class="code"><%= bill_code bill['bill_type'], bill['number'] %></span>
  &mdash;
  <span class="version">
    <% if version %>
      <%= bill_version version['version_code'] %>
    <% else %>
      Introduced
    <% end %>
    by
    <%= bill_sponsor bill %>
  </span>
</div>

<p>
  <% if highlight = bill_highlight(item, interest) %>
    <%= highlight %>
  <% elsif bill['summary'] %>
    <%= truncate bill['summary'], 500 %>
  <% else %>
    No excerpt or summary available.
  <% end %>
</p>