<% bill = item.data %>
<item>
  <title><%= bill['short_title'].present? ? bill['short_title'] : bill['official_title'] %></title>
  <% if bill['search']['highlight'] %>
      <description><![CDATA[
        <%= bill_highlight item, interest %>
      ]]></description>
  <% elsif bill['summary'].present? %>
    <description><%= bill['summary'] %></description>
  <% else %>
    <description>No excerpt or summary available.</description>
  <% end %>
  <link>http://<%= config[:hostname] %><%= item_path item %></link>
  <guid>http://<%= config[:hostname] %><%= item_path item %></guid>
  <pubDate><%= rss_date item.date %></pubDate>
</item>