<% bill = item.data %>
<% version = item.data['last_version'] %>

<div class="summary">
	
	<div class="entryHeader">
    <% if bill['short_title'].present? %>
        <h2><%= bill['short_title'] %></h2>
    <% else %>
        <h2 class="official bill title"><%= bill['official_title'] %></h2>
    <% end %>
		<div class="subtitle">
			<h4>
		        <%= bill_code bill['bill_type'], bill['number'] %>
		    </h4>
		    <span>
	            <%= bill_version version['version_code'] %>
	        </span>
		</div>
	</div>
	<time class="item" datetime="<%= html_date item.date %>">
		<%= just_date_year item.date %>
	</time>



    <div class="clear"></div>


    <div class="resources">
        <h5>Resources</h5>
        <ul>
            <li><a href="<%= govtrack_url item %>">GovTrack.us</a></li>
            <li><a href="<%= opencongress_url item %>">OpenCongress.org</a></li>
            <li><a href="<%= thomas_url item %>">THOMAS.gov</a></li>
        </ul>
    </div>

    <% if version['urls'] and version['urls']['xml'] %>
        <a class="source" href="<%= version['urls']['xml'] %>">Original Text</a>
    <% elsif version['urls'] and version['urls']['pdf'] %>
        <a class="source" href="<%= version['urls']['pdf'] %>">Original Text</a>
    <% end %>

    <div class="clear"></div>
</div>
<div class="pageTitle">
	<div class="trackSubscribe">
		Follow this bill wherever it goes
	</div>
<%= follow_button item %>
	<div class="clear"></div>
</div>
<div class="details">

    <div class="module of2">
        <h5>Coming Up on the Floor</h5>
        <ul class="upcoming_floor">
            <% if bill['latest_upcoming'] and bill['latest_upcoming'].any? %>
                <% bill['latest_upcoming'].each do |upcoming| %>
                    <li>
                        <time datetime="<%= html_date upcoming['legislative_day'] %>"><%= just_date upcoming['legislative_day'] %></time>
                        - 
                        <a href="<%= upcoming['permalink'] %>">
                            <%= upcoming['chamber'].capitalize %> Floor
                        </a>
                    </li>
                <% end %>
            <% else %>
                Not yet scheduled for debate.
            <% end %>
        </ul>
    </div>
    
    <div class="module of2">
        <h5>Recent Activity</h5>
        <ul class="activity">
            <% bill['actions'].reverse[0...5].each do |action| %>
                <li>
                    <time datetime="<%= html_date action['acted_at'] %>"><%= just_date action['acted_at'] %></time>
                    -
                    <%= action['text'] %>
                </li>
            <% end %>
        </ul>
    </div>
</div>