<% bill = item.data %>
<% version = item.data['last_version'] %>

<div class="followChanges">
  <div class="trackSubscribe">
    Subscribe to <strong>official activity</strong> and <strong>votes</strong> on this bill, notices of <strong>upcoming hearings</strong>, and when it's <strong>coming to the floor</strong>.
  </div>

  <%= follow_button item %>
  
  <div class="clear"></div>
</div>

<div class="summary">
  
  <div class="entryHeader">
    <% if bill['short_title'].present? %>
      <h2><%= bill['short_title'] %></h2>
    <% else %>
      <h2 class="official bill title"><%= bill['official_title'] %></h2>
    <% end %>

    <div class="subtitle">
      <span class="code">
        <%= bill_code bill['bill_type'], bill['number'] %>,
      </span>
      <% if version %>
        <%= bill_version version['version_code'] %>
      <% else %>
        Introduced
      <% end %>
      on
      <time class="item" datetime="<%= html_date item.date %>">
        <%= just_date_year item.date %>
      </time>
      by
      <%= bill_sponsor bill %>
    </div>
  </div>

  <div class="core-context">
    <dl>
      <dt class="float-left">Last activity</dt>
      <dd>
        <%= just_date_year bill['last_action']['acted_at'] %> &mdash; <%= bill['last_action']['text'] %>
      </dd>
    </dl>
  </div>

  <div class="resources">
      <h5>Resources</h5>
      <ul>
        
        <li class="congressGov">
          <a data-resource="congress" target="_blank" href="<%= bill['urls']['congress'] %>" title="Congress.gov">Congress.gov</a>
        </li>
        
        <li class="govTrack">
          <a data-resource="govtrack" target="_blank" href="<%= bill['urls']['govtrack'] %>" title="GovTrack">GovTrack</a>
        </li>
        
        <li class="openCongress">
          <a data-resource="opencongress" target="_blank" href="<%= bill['urls']['opencongress'] %>" title="OpenCongress">OpenCongress</a>
        </li>
      </ul>
  </div>

  <% if version %>
    <div id="document">
      <header>
        <strong>Full Text</strong>
        <span>
          Adapted from Congress' <a data-resource="original" target="_blank" href="<%= bill_text_url bill, version %>">official bill text</a>.
        </span>
      </header>
      <hr />
      <article></article>
    </div>

    <script type="text/javascript">
      $.get("/item/document?filename=s676-113-is.html", function(data) {
        $("#document article").html(data);
        markupDocument();
      });

      function markupDocument() {
        $("span[data-citation-type=usc]").each(function() {
          var elem = document.createElement("a");
          elem.className = "citation usc";
          elem.textContent = $(this).text();
          elem.target="_blank";
          
          var citation_id = $(this).data("citation-id");
          var pieces = citation_id.split("/");
          var url = "/search/all/" + pieces[1] + " usc " + pieces[2];
          elem.href = url;

          this.parentNode.replaceChild(elem, this);
        });
      }
    </script>
  <% else %>
    <div class="no-text">
      <p>
        The text of this bill has not been published yet.
      </p>
    </div>
  <% end %>
</div>