<% bill = item.data %>
<% version = item.data['last_version'] %>

<header>
    <div class="titles">
        <h4><%= bill_code bill['bill_type'], bill['number'] %></h4>
        <% if bill['short_title'].present? %>
            <h2><%= bill['short_title'] %></h2>
        <% else %>
            <h3><%= bill['official_title'] %></h3>
        <% end %>
    </div>
    <%= partial :"partials/track", :locals => {
        :item => item,
        :interest_type => interest_type
    } %>
</header>

<section class="detail">
    <h2>Resources</h2>
    <div class="resources">
        <a target="_blank" href="<%= govtrack_url item %>">GovTrack.us</a>
        <a target="_blank" href="<%= opencongress_url item %>">OpenCongress.org</a>
        <a target="_blank" href="<%= thomas_url item %>">THOMAS.gov</a>
    </div>
    <h2>Official Summary</h2>
    <div class="summary">
        <% if bill['summary'] %>
            <%= truncate bill_summary(bill), 700 %>
        <% else %>
            (No summary available from the Congressional Research Service.)
        <% end %>
    </div>
    <h2>Latest Version</h2>
    <div class="latest_version">
        <% if version %>
            <p>
                Full text:
                <% if version['urls'] and version['urls']['pdf'] %>
                    <a class="file pdf" href="<%= version['urls']['pdf'] %>">PDF</a>
                <% end %>
                <% if version['urls'] and version['urls']['xml'] %>
                    <a class="file xml" href="<%= version['urls']['xml'] %>">HTML</a>
                <% end %>
            </p>
            <p>
                <%= bill_version version['version_code'] %>, issued on <%= very_short_date version['issued_on'] %>
            </p>
        <% else %>
            No version information available from GPO right now.
        <% end %>
    </div>
    
    <% if item.data['latest_upcoming'] and item.data['latest_upcoming'].any? %>
        <h2>Coming Up on the Floor</h2>
        <ul class="upcoming_floor">
            <% item.data['latest_upcoming'].each do |upcoming| %>
                <li>
                    <span class="date"><%= just_date upcoming['legislative_day'] %></span>
                    - 
                    <a href="<%= upcoming['permalink'] %>">
                        <%= upcoming['chamber'].capitalize %> Floor
                    </a>
                </li>
            <% end %>
        </ul>
    <% end %>

    <h2>Recent Activity</h2>
    <ul class="activity">
        <% item.data['actions'].reverse[0...5].each do |action| %>
            <li>
                <span class="date"><%= just_date action['acted_at'] %></span>
                -
                <%= action['text'] %>
            </li>
        <% end %>
    </ul>

</section>

<section class="track">
</section>