<% bill = item.data %>
<% version = item.data['last_version'] %>
<div class="followChanges">
	<div class="trackSubscribe">
		Follow activity on this bill.
	</div>
    <%= follow_button item %>
	<div class="clear"></div>
</div>
<div class="summary followable">
	
	<div class="entryHeader">
        <% if bill['short_title'].present? %>
            <h2><%= bill['short_title'] %></h2>
        <% else %>
            <h2 class="official bill title"><%= bill['official_title'] %></h2>
        <% end %>

		<div class="subtitle">
			<%= bill_code bill['bill_type'], bill['number'] %>
		    &mdash;
	        <%= bill_version version['version_code'] %>
            on
            <time class="item" datetime="<%= html_date item.date %>">
                <%= just_date_year item.date %>
            </time>
		</div>
	</div>

    <div class="resources">
        <h5>Resources</h5>
        <ul>
            <li class="govTrack"><a href="<%= govtrack_url item %>" title="GovTrack"><span>icon</span>GovTrack</a></li>
            <li class="openCongress"><a href="<%= opencongress_url item %>" title="OpenCongress"><span>icon</span>OpenCongress</a></li>
            <li class="thomas"><a href="<%= thomas_url item %>" title="THOMAS"><span>icon</span>THOMAS</a></li>
        </ul>
    </div>

    <% if version['urls'] and version['urls']['xml'] %>
        <a class="source" href="<%= version['urls']['xml'] %>">Original Text</a>
    <% elsif version['urls'] and version['urls']['pdf'] %>
        <a class="source" href="<%= version['urls']['pdf'] %>">Original Text</a>
    <% end %>

    <p>
        <% if bill['summary'] %>
            <%= truncate_more "bill_summary", bill['summary'], 400 %>
        <% else %>
            No summary available.
        <% end %>
    </p>

    <div class="clear"></div>
</div>

<div class="details clear">

    <div class="module of2">
        <h4>Coming Up on the Floor</h4>
        <table class="upcoming_floor">
			<tbody>
	            <% if bill['latest_upcoming'] and bill['latest_upcoming'].any? %>
	                <% bill['latest_upcoming'].each do |upcoming| %>
	                    <tr>
	                        <td class="time">
								<time datetime="<%= html_date upcoming['legislative_day'] %>"><%= just_date upcoming['legislative_day'] %></time>
							</td>
	                        <td>
	                        	<a href="<%= upcoming['permalink'] %>"><%= upcoming['chamber'].capitalize %> Floor</a>
							</td>
	                    </tr>
	            <% end %>
	            <tr>
                    <td colspan="2">
				<% else %>
	                Not yet scheduled for debate.
	            <% end %>
					</td>
				</tr>
			</tbody>
        </table>
    </div>
    
    <div class="module of2">
        <h4>Recent Activity</h4>
        <table class="activity">
			<tbody>
	            <% if bill['actions'].reverse[0...5].each do |action| %>
	                <tr>
	                    <td class="time"><time datetime="<%= html_date action['acted_at'] %>"><%= just_date action['acted_at'] %></time></td>
                    
	                    <td><%= action['text'] %></td>
	                </tr>
	            <% end %>
				<% else %>
				<tr>
	                <td colspan="2">No recent activity.</td>
				</tr>
	            <% end %>
			</tbody>
        </table>
    </div>
	<div class="clear"></div>
</div>