<% bill = item.data %>
<% version = item.data['last_version'] %>

<div class="followChanges">
  <div class="trackSubscribe">
    Subscribe to <strong>official activity</strong> and <strong>votes</strong> on this bill, notices of <strong>upcoming hearings</strong>, and when it's <strong>coming to the floor</strong>.
  </div>

  <%= follow_item interest %>

  <div class="clear"></div>
</div>

<div class="summary">

  <div class="entryHeader">
    <% if bill['short_title'].present? %>
      <h2><%= bill['short_title'] %></h2>
    <% else %>
      <h2 class="official bill title"><%= bill['official_title'] %></h2>
    <% end %>

    <div class="subtitle">
      <span class="code">
        <%= bill_code bill['bill_type'], bill['number'] %>,
      </span>
      <% if version %>
        <%= bill_version version['version_code'] %>
      <% else %>
        Introduced
      <% end %>
      on
      <time datetime="<%= html_date item.date %>">
        <%= just_date_year item.date %>
      </time>
      by
      <%= bill_sponsor bill %>
    </div>
  </div>

  <div class="core-context">
    <dl>
      <dt class="float-left">Recent activity</dt>
      <dd>
        <ul>
          <% bill['actions'].reverse.each_with_index do |action, i| %>
            <li class="<%= i == 0 ? "first" : "rest" %>">
              <%= just_date_year action['acted_at'] %> &mdash; <%= action['text'] %>
            </li>
          <% end %>
          <li class="show">
            <a href="#" class="all-actions">Show complete history</a>
          </li>
          <li class="hide">
            <a href="#" class="all-actions">Hide complete history</a>
          </li>
        </ul>
      </dd>
    </dl>
  </div>

  <div class="resources">
    <h5>See More At</h5>
    <ul>
      <li class="congressGov">
        <a data-resource="congress" href="<%= bill['urls']['congress'] %>" title="Congress.gov">Congress.gov</a>
      </li>

      <li class="govTrack">
        <a data-resource="govtrack" href="<%= bill['urls']['govtrack'] %>" title="GovTrack">GovTrack</a>
      </li>

      <li class="openCongress">
        <a data-resource="opencongress" href="<%= bill['urls']['opencongress'] %>" title="OpenCongress">OpenCongress</a>
      </li>
    </ul>
  </div>

  <% if version and bill['document'].present? %>
    <div id="document">
      <header>
        <strong>Full Text</strong>
        <span>
          Below is a simple rendition of Congress' <a data-resource="original" href="<%= bill_text_url bill, version %>">official bill text</a>.
        </span>
      </header>
      <hr />
      <article>
        <%= bill['document'] %>
      </article>
    </div>

    <script type="text/javascript">
      function markupDocument() {
        // add show link for table of contents
        $("#document article .toc").each(function() {
          $(this.parentNode).append(
            "<div class=\"toc-hidden\">(table of contents hidden)</div>"
          );
        });

        // fix some bills with a missing first section enum
        var elem = $("#document article span.enum").get(0);
        if (!elem.innerText) elem.innerText = "1.";

        $("#document article span[data-citation-type=usc]").each(function() {
          var elem = document.createElement("a");
          elem.className = "citation usc";
          elem.textContent = $(this).text();
          elem.target="_blank";

          var citation_id = $(this).data("citation-id");
          var pieces = citation_id.split("/");
          var url = "/search/all/" + pieces[1] + " usc " + pieces[2];
          elem.href = url;

          this.parentNode.replaceChild(elem, this);
        });
      }

      $(markupDocument);
    </script>
  <% else %>
    <div id="document">
      <header>
        <strong>Full Text</strong>
        <span>
          <% if version %>
            Read this bill's <a data-resource="original" href="<%= bill_text_url bill, version %>">official text</a> (PDF).
          <% else %>
            The text of this bill has not yet been released.
          <% end %>
        </span>
      </header>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  // for now: serialize all the known terms into a big object
  var Glossary = {
    definitions: {
      <% glossary.each do |definition| %>
        "<%= escape_javascript definition.term %>": {
          short_definition: "<%= escape_javascript definition.short_definition %>"
        },
      <% end %>
      i_hate_ie6: null
    }
  };
  Glossary.terms = $.map(Glossary.definitions, function(i, term) {return term;})

  $(function() {
    $(".core-context li.show a").click(function() {
      $(".core-context li.rest").show();
      $(".core-context li.hide").show();
      $(".core-context li.show").hide();
      return false;
    });

    $(".core-context li.hide a").click(function() {
      $(".core-context li.rest").hide();
      $(".core-context li.hide").hide();
      $(".core-context li.show").show();
      return false;
    });

    // find and
    var container = $("article");

    $.each(Glossary.terms, function(i, term) {
      searchHTML(container, term);
    });

    //
    $("article .glossary").each(function() {
      $(this).qtip({
        content: {
          text: Glossary.definitions[$(this).data("term")].short_definition
        }
      });
    });
  });

  var glossaryTextNodes;
  // all praise to http://stackoverflow.com/a/7720056/16075
  function searchHTML(container, searchString) {
    var expr = new RegExp(searchString, "gi");
    if (!glossaryTextNodes) {
      var elements = container.find("*").andSelf();
      glossaryTextNodes = elements.contents().not(elements);
    }
    glossaryTextNodes.each(function() {
      var matches = this.nodeValue.match(expr);
      if (matches) {
        var parts = this.nodeValue.split(expr);
        for (var n = 0; n < parts.length; n++) {
          if (n)
            $("<span class=\"glossary\" data-term=\"" + searchString + "\">").text(matches[n - 1]).insertBefore(this);
          if (parts[n])
            $(document.createTextNode(parts[n])).insertBefore(this);
        }
        $(this).remove();
      }
    });
  }
</script>