<% document = item.data %>

<%= email_header document['title'], url %>

<%= email_subheader_div %>
  <span class="date">
    <%= just_date item.date %>
  </span>
  &mdash;
  <%= document['document_type_name'] %>
</div>

<%= email_content_p %>
  <% if highlight = document_highlight(item, interest, inline: true) %>
    <%= highlight %>
  <% elsif document['gao_report']['description'].present? %>
    <%= truncate document['gao_report']['description'], 500 %>
  <% else %>
    No excerpt or abstract available.
  <% end %>
</p>