<% document = item.data %>

<a href="<%= item_path item %>">
  <h4><%= document['title'] %></h4>
</a>

<div class="subtitle">
  <%= document['document_type_name'] %>
</div>

<p>
  <% if highlight = document_highlight(item, interest) %>
    <%= highlight %>
  <% elsif document['gao_report']['description'].present? %>
    <%= truncate document['gao_report']['description'], 500 %>
  <% else %>
    No excerpt or abstract available.
  <% end %>
</p>