<% document = item.data %>

<a href="<%= item_path item %>">
  <h4><%= document['title'] %></h4>
</a>

<div class="subtitle">
  <%= document_subtitle document %>
</div>

<p>
  <% if highlight = document_highlight(item, interest) %>
    <%= highlight %>
  <% elsif (description = document_description(document)).present? %>
    <%= truncate description, 500 %>
  <% else %>
    No excerpt or abstract available.
  <% end %>
</p>