<% document = item.data %>

<div class="summary">

  <div class="entryHeader">
    <h2><%= document['title'] %></h2>
    <div class="subtitle">
      <%= document['document_type_name'] %>
      released on
      <time class="item" datetime="<%= html_date item.date %>">
        <%= just_date_year item.date %>
      </time>
    </div>
  </div>

  <div class="clear"></div>

  <div class="resources">
    <h5>Resources</h5>
    <ul>
      <span>
        <% if document['document_type'] == "gao_report" %>
          Visit
          <strong><a data-resource="<%= document['document_type'] %>" href="<%= document['url'] %>">
            GAO</a></strong>
          for more context.
        <% end %>
      </li>
    </ul>
  </div>

  <div id="document">
    <header>
      <strong>Summary</strong>
      <span>
        Below is the official summary.
        <% if document['source_url'] %>
          The <a data-resource="<%= document['document_type'] %>-original" href="<%= document['source_url'] %>">
            full report</a>
          <% if document['source_url'] =~ /\.pdf$/ %>
            (PDF)
          <% end %>
          is also available.
        <% end %>
      </span>
    </header>
    <hr/>
    <article>
      <%= gao_description document %>
    </article>
  </div>
</div>