<p>Hi,</p>

<p>
We've reset your password. You should login as soon as possible with this new password, and change it to something else.
</p>

<p>
Your new password: <%= new_password %>
</p>

<p>Visit Scout to log in with your new password:</p>

<p><%= Environment.config['hostname'] %>/login</p>

<hr/>

<p>
This email is sent from <a href="<%= Environment.config['hostname'] %>">Scout</a>, a service of the <a href="<%= Environment.config['organization']['url'] %>"><%= Environment.config['organization']['name'] %></a>.
</p>

<p>
If you received this message in error, you can safely delete it.
</p>