<% regulation = item.data %>

<% title = "#{regulation_title regulation} (#{regulation_stage regulation['stage']})" %>
<%= email_header regulation_title(regulation), item_url(item) %>

<%= email_subheader_div %>
  <% if regulation['document_type'] == "public_inspection" %>
    <strong class="public_inspection">
      Pre-release
    </strong>
    &mdash;
  <% end %>
  <span class="stage"><%= regulation_stage regulation['stage'] %></span>
  &mdash;
  <% if regulation['agency_names'].any? %>
    <span class="agencies">
      <%= agency_names regulation %>
    </span>
  <% end %>
</div>

<%= email_content_p %>
  <% if highlight = regulation_highlight(item, interest, inline: true) %>
    <%= highlight %>
  <% elsif regulation['abstract'].present? %>
    <%= truncate regulation['abstract'], 500 %>
  <% else %>
    No excerpt or abstract available.
  <% end %>
</p>