<% regulation = item.data %>

<a href="<%= item_path item %>">
  <h4><%= regulation_title regulation %></h4>
</a>

<div class="subtitle">
  <% if regulation['document_type'] == "public_inspection" %>
    <strong class="public_inspection">
      Pre-release
    </strong>
    &mdash;
  <% end %>
  <span class="stage"><%= regulation_stage regulation['stage'] %></span>
  &mdash;
  <% if regulation['agency_names'].any? %>
    <span class="agencies">
      <%= regulation['agency_names'].join ', ' %>
    </span>
  <% end %>
</div>

<p>
  <% if highlight = regulation_highlight(item, interest) %>
    <%= highlight %>
  <% elsif regulation['abstract'].present? %>
    <%= truncate regulation['abstract'], 500 %>
  <% else %>
    No excerpt or abstract available.
  <% end %>
</p>