<% regulation = item.data %>

<a href="<%= item_path item %>">
  <h4><%= regulation['title'] %></h4>
</a>

<div class="subtitle">
  <span class="stage"><%= regulation_stage regulation['stage'] %></span>
  <% if regulation['agency_names'].any? %>
    <span class="agencies">
      <%= regulation['agency_names'].join ', ' %>
    </span>
  <% end %>
</div>

<% if regulation['search']['highlight'] %>
  <p>
    <%= regulation_highlight item, interest %>
  </p>
<% end %>