<% regulation = item.data %>

<h3><%= regulation['title'] %></h3>

<div class="subtitle">
  <span class="stage"><%= regulation_stage regulation['stage'] %></span>
  <% if regulation['agency_names'].any? %>
    by the
    <%= regulation['agency_names'].join ', ' %>
  <% end %>
</div>

<% if regulation['search']['highlight'] %>
  <dl class="highlight">
    <dd class="content">
      <%= regulation_highlight item, keyword %>
    </dd>
  </dl>
<% end %>

<section class="more">
  <a href="<%= regulation['federal_register_url'] %>">Federal Register</a>
</section>