<% regulation = item.data %>
<title><%= regulation_title regulation %></title>
<description><![CDATA[
  <p>
    <% if regulation['document_type'] == "public_inspection" %>
      <strong class="public_inspection">
        Pre-release
      </strong>
      &mdash;
    <% end %>

    <%= regulation_type regulation %>

    <% if regulation['agency_names'].select(&:present?).any? %>
      &mdash;
      <%= regulation['agency_names'].select(&:present?).join ', ' %>
    <% end %>
  </p>

  <p>
    <% if (highlight = regulation_highlight(item, interest)) %>
      <% highlight = highlight.gsub("\f", "") %>
      <%= highlight %>
    <% elsif regulation['abstract'].present? %>
      <%= regulation['abstract'] %>
    <% else %>
      No excerpt or abstract available.
    <% end %>
  </p>
]]></description>