<% regulation = item.data %>

<div class="summary">

  <div class="entryHeader">
    <h2><%= regulation_title regulation %></h2>
    <div class="subtitle">
      <%= agency_names regulation %>
      <br/>
      
      <%= regulation_type regulation %>

      <% if regulation['document_type'] != "public_inspection" %>
        issued on
      <% else %>
        filed for public inspection on
      <% end %>
      <time class="item" datetime="<%= html_date item.date %>">
          <%= just_date_year item.date %>
      </time>
    </div>
  </div>

  <div class="clear"></div>

  <div class="resources">
    <h5>Resources</h5>
    <ul>
      <li class="fedReg">
        <a href="<%= regulation['url'] %>">Federal Register</a>
      </li>

      <li class="source">
        <% if regulation['pdf_url'] %>
          <a href="<%= regulation['pdf_url'] %>">Original Text (PDF)</a>
        <% end %>
      </li>
      </ul>
  </div>
    
  <div class="clear"></div>

  <% if regulation['document_type'] != 'public_inspection' %>
    <% if regulation['abstract'].present? %>
      <%= regulation_abstract regulation %>
    <% else %>
      <p>No abstract available.</p>
    <% end %>
  <% else %>
    <p>
      This is a <strong>pre-release</strong> version of this <%= regulation_type(regulation) %>. It will be formally published on <strong><%= just_date regulation['publication_date'] %></strong> in the Federal Register.
    </p>
    <p>
      Though it is an official document, it can theoretically be withdrawn before formal publication, and some details may not yet be available. <a href="https://www.federalregister.gov/learn/public-inspection-desk-2">Read more about pre-release documents.</a>
    </p>
  <% end %>
</div>