<% regulation = item.data %>

<div class="summary">

    <div class="entryHeader">
		<h2><%= regulation['title'] %></h2>
		<div class="subtitle">
            <%= agency_names regulation %>
			<br/>
            <%= regulation_stage regulation['stage'] %>, issued
            <time class="item" datetime="<%= html_date item.date %>">
                <%= just_date_year item.date %>
            </time>
		</div>
	</div>
	
<div class="clear"></div>

    <div class="resources">
        <h5>Resources</h5>
        <ul>
            <li><a href="<%= regulation['federal_register_url'] %>">Federal Register</a></li>
        </ul>
    </div>
    <div class="clear"></div>

	<p>
        <% if regulation['abstract'] %>
            <%= regulation['abstract'] %>
        <% else %>
            No abstract available.
        <% end %>
    </p>
</div>