<% regulation = item.data %>

<div class="summary">

    <h4><%= regulation_stage regulation['stage'] %></h4>
    <h2><%= regulation['title'] %></h2>
    <h3>
        <% if regulation['agency_names'].any? %>
            <%= regulation['agency_names'].join ', ' %>
        <% end %>
    </h3>

    <div class="time">
        <time class="item" datetime="<%= html_date item.date %>">
            <%= just_date_year item.date %>
        </time>
        <span>
            Issued
        </span>
    </div>


    <div class="clear"></div>

    <div class="resources">
        <h5>Resources</h5>
        <ul>
            <li><a href="<%= regulation['federal_register_url'] %>">Federal Register</a></li>
        </ul>
    </div>

    <div class="clear">
        
    <p>
        <% if regulation['abstract'] %>
            <%= regulation['abstract'] %>
        <% else %>
            (No abstract available from the Federal Register.)
        <% end %>
    </p>

</div>