<% regulation = item.data %>

<div class="summary">

    <div class="entryHeader">
		<h2><%= regulation['title'] %></h2>
		<div class="subtitle">
			<h4><%= regulation_stage regulation['stage'] %></h4>
			<h3>
		        <% if regulation['agency_names'].any? %>
		            <%= regulation['agency_names'].join ', ' %>
		        <% end %>
		    </h3>
		</div>
	</div>
	<div class="time">
        <time class="item" datetime="<%= html_date item.date %>">
            <%= just_date_year item.date %>
        </time>
        <span>
          Issued
        </span>
    </div>
	<p>
        <% if regulation['abstract'] %>
            <%= regulation['abstract'] %>
        <% else %>
            (No abstract available from the Federal Register.)
        <% end %>
    </p>


    <div class="clear"></div>

    <div class="resources">
        <h5>Resources</h5>
        <ul>
            <li><a href="<%= regulation['federal_register_url'] %>">Federal Register</a></li>
        </ul>
    </div>
    <div class="clear"></div>

</div>
<div class="pageTitle">
	<div class="trackSubscribe">
		Follow this bill wherever it goes
	</div>
<%= follow_button item %>
	<div class="clear"></div>
</div>