<% regulation = item.data %>

<div class="summary">

  <div class="entryHeader">
    <h2><%= regulation_title regulation %></h2>
    <div class="subtitle">
      <%= agency_names regulation %>
    </div>
    <div class="subtitle">
      <%= regulation_type regulation %>

      <% if regulation['document_type'] != "public_inspection" %>
        issued on
      <% else %>
        filed for public inspection on
      <% end %>
      <time datetime="<%= html_date item.date %>">
        <%= just_date_year item.date %>
      </time>
    </div>
  </div>

  <% if (regulation['document_type'] == 'public_inspection') or 
      regulation['effective_on'] or regulation['comments_close_on'] %>
    <div class="core-context">
      <% if regulation['document_type'] == 'public_inspection' %>
        <dl>
          <dt class="float-left">Next Steps</dt>
          <dd>
            This pre-release document will be published on <strong><%= just_date regulation['publication_date'] %></strong>.
          </dd>
        </dl>
      <% end %>
      <% if regulation['effective_on'] %>
        <dl>
          <dt class="float-left">Effective Date</dt>
          <dd>
            This <%= regulation_type regulation %> 
            <% if Time.zone.parse(regulation["effective_on"]) < Time.zone.now %>
              became
            <% else %>
              will become
            <% end %>
            effective on <strong><%= just_date regulation['effective_on'] %></strong>.
          </dd>
        </dl>
      <% end %>
      <% if regulation['comments_close_on'] %>
        <dl>
          <dt class="float-left">Public Input</dt>
          <dd>
            <% if Time.zone.parse(regulation['comments_close_on']) < Time.zone.now %>
              This <%= regulation_type regulation %>'s window for public comment closed on <%= just_date regulation['comments_close_on'] %>.
            <% else %>
              This <%= regulation_type regulation %> is <strong>open for public comment</strong> until <strong><%= just_date regulation['comments_close_on'] %></strong>.
            <% end %>
          </dd>
        </dl>
      <% end %>
    </div>
  <% end %>

  <div class="resources">
    <h5>Resources</h5>
    <ul>
      <span>
        Visit the <strong><a data-resource="federalregister" target="_blank" href="<%= regulation['url'] %>">Federal Register</a></strong> for much more information.
      </span>
    </ul>
  </div>

  <div id="document">
    <% if regulation['document_type'] == 'public_inspection' %>
      <header>
        <strong>Full Text</strong>
        <span>
          Read the <a data-resource="original" target="_blank" class="pdf" href="<%= regulation['pdf_url'] %>">full text</a> (PDF) of this document.
        </span>
      </header>
      <article>
        <p>
          This is a <strong>pre-release</strong> version of this <%= regulation_type(regulation) %>. It will be formally published on <strong><%= just_date regulation['publication_date'] %></strong> in the Federal Register.
        </p>
        <p>
          Though it is an official document, it can theoretically be withdrawn before formal publication, and some details may not yet be available. <a href="https://www.federalregister.gov/learn/public-inspection-desk-2">Read more about pre-release documents.</a>
        </p>
      </article>
    <% else %>
      <header>
        <strong>Abstract</strong>
        <span>
          Below is the abstract of this <%= regulation_type regulation %>. The <a data-resource="original" target="_blank" class="pdf" href="<%= regulation['pdf_url'] %>">official text</a> (PDF) is also available.
        </span>
        <hr/>
        <% if regulation['abstract'].present? %>
          <article>
            <%= regulation_abstract regulation %>
          </article>
        <% end %>
      </header>
    <% end %>
  </div>

</div>