<% speech = item.data %>
<li class="result speech">
  <% if speech['bioguide_id'] %>
    <h2>
      <a class="speaker" href="<%= speaker_url speech %>">
        <%= speaker_name speech %></a>
      said:
    </h2>
  <% end %>
  
  <dl class="highlight">
    <dd>
      <%= speech_highlight speech, subscription %>
    </dd>
  </dl>
  
  <section class="links">
    <span>More:</span>
    <a href="<%= capitolwords_url speech %>">CapitolWords</a>
    <a href="<%= speech['origin_url'] %>">Original</a>
  </section>
  
</li>