<% speech = item.data %>
<% if speech['bioguide_id'] %>
  <h2>
    <%= speaker_name speech %>
    <a href="<%= capitolwords_url speech %>">said</a>:
  </h2>
<% end %>

<dl class="highlight content">
  <dd>
    <%= speech_highlight speech, keyword %>
  </dd>
</dl>

<section class="more">
  <span>More:</span>
  <a href="<%= capitolwords_url speech %>">CapitolWords</a>
  <a href="<%= speech['origin_url'] %>">Original</a>
</section>