<% edit = defined?(edit) ? edit : false %>

<div class="subscription"
  data-interest_id="<%= interest.id %>"
  >
  
  <% if edit %>
    <div class="edit">
      <div class="clear"></div>

      <div class="removeSubscription">
        <input id="remove" type="checkbox" name="remove" class="remove" />
        <label for="remove">Remove</label>
        <button class="remove smallButton">Remove</button>

        <div class="clear"></div>
        
        <div class="indicators">
          <span class="spinning">spinning</span>
          <span class="okay">okay</span>
          <span class="failed">not okay</span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="details">
    <h4>
      <a href="<%= interest_path interest %>">
        <% if interest.search? %>
          <% if interest.search_type == "all" %>
            Everything
          <% else %>
            <%= interest.subscriptions.first.search_name %>
          <% end %>
        <% else %>
          <%= interest_name interest %>
        <% end %>
      </a>

      <span class="title">
        <%= interest_description interest %>
      </span>
    </h4>
    
    <a class="rss feed" href="<%= interest_feed_path interest %>">
      RSS
    </a>

    <% if show_data? %>
      <a class="json feed" href="<%= interest_json_path interest %>?apikey=<%= api_key %>">
        JSON
      </a>
    <% end %>
    
    <% if edit %>
      <div class="notifications">
        <small>
          <%= notification_name(interest.notifications || current_user.notifications) %>
          <a href="#" class="open_notifications">change</a>
        </small>
        
        <form>
          <ul>
            <% types = ["email_immediate", "email_daily", "sms", "none"] %>
            <% allowable = current_user.allowable_notifications %>
            <% preference = interest.notifications || current_user.notifications %>
            <% default = types.delete current_user.notifications %>

            <li>
              <%= notification_radio_for default, preference == default, allowable.include?(default) %>
            </li>

            <% types.each do |type| %>
              <li>
                <%= notification_radio_for type, preference == type, allowable.include?(type) %>
              </li>
            <% end %>

          </ul>
        </form>

      </div>
      
      <% unless interest.tag? %>
        <div class="tags">
          <form>
            <label>Tags</label>
            <input class="tags" type="text" name="interest[tags]" 
              placeholder=""
              value="<%= interest.tags.join(", ") %>"
              />
            <button type="submit" class="smallButton tagsOK" style="display: none">
              OK
            </button>
            
            <small class="separate" style="display: none">
              Separate tags with commas, e.g. "open government, transparency"
            </small>
          </form>
        </div>
      <% end %>
    <% end %>

  </div>
  
  <div class="clear"></div>
</div>