<h4>Tags</h4>

<% if tags.any? %>
  <ul class="tag_list">
    <% tags.each do |tag| %>
      <li>
        <a href="<%= tag_path current_user, tag %>" class="name"><%= h tag.name %></a>
        <a class="rss feed" href="<%= tag_feed_path current_user, tag, "rss" %>">RSS</a>
        <% if current_user.developer? %>
          <a class="json feed" href="<%= tag_feed_path current_user, tag, "json" %>?apikey=<%= current_user.api_key %>">JSON</a>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    Add tags to your alerts to organize and share them.
  </p>
<% end %>