<% content_for :sidebar_right do %>

	<% if user == current_user %>
		<div class="module sharing">

			<% if collection.public? %>
				<form action="/account/collection/<%= Tag.slugify h(collection.name) %>/public" method="post">
					<input type="hidden" name="_method" value="put" />
					<input type="hidden" name="public" value="false" />

					<p>
						This collection is <strong>public</strong>.
					</p>

					<button type="submit" class="smallButton collection_public">
						Make Collection Private
					</button>
				</form>

			<% else %>
				<form action="/account/collection/<%= Tag.slugify h(collection.name) %>/public" method="post">
					<input type="hidden" name="_method" value="put" />
					<input type="hidden" name="public" value="true" />

          <p>
						This collection is <strong>private</strong>. You can make this collection public, so others can easily follow along.
					</p>

					<button type="submit" class="smallButton collection_public">
						Make Collection Public
					</button>
				</form>
			<% end %>

		</div>

  <%# user is either logged out, or logged in and looking at someone else %>
	<% else %>

    <div class="module collection">
      <h3>
        <% if user_name(user).present? %>
          <strong><%= user_name user %></strong>
        <% else %>
          [UNNAMED]
        <% end %>
      </h3>

      <% if other_public_collections.any? %>
        <h4>Other Scout Collections</h4>
        <ul>
          <% other_public_collections.each do |collection| %>
            <li>
              <a href="<%= collection_path user, collection %>">
                <%= h collection.name %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

<% end %>

<div class="contentArea left collection <%= current_user == user ? "" : "public" %>">
	<div class="collectionHeader">

		<h2>
			<%= h collection.name %>
		</h2>

		<a class="rss feed" href="<%= collection_feed_path user, collection, "rss" %>">RSS</a>

		<% if collection.public? %>
			<% if user == current_user %>
        <button disabled class="follow collection disabled">
          <span>Follow</span>
        </button>
      <% else %>
        <%= follow_collection interest %>
			<% end %>
		<% end %>

		<div class="clear"></div>

		<div class="description_container">
			<%= partial "account/description", engine: :erb, locals: {user: user, collection: collection} %>
		</div>

	</div>


	<% if interests.empty? %>
    <p class="empty">
    	There's nothing in this Scout collection yet.
    </p>
  <% else %>

	  <% grouped = interests.group_by &:interest_type %>

	  <% if grouped['search'] and grouped['search'].any? %>
      <% by_query = grouped['search'].group_by &:in %>
      <% by_query.keys.each do |query| %>
        <div class="interest search">
          <h4>"<%= query %>"</h4>
        </div>
      <% end %>
	  <% end %>

	  <% if grouped['item'] and grouped['item'].any? %>

	    <% by_item_type = grouped['item'].group_by &:item_type %>
	    <% by_item_type.each do |item_type, item_interests| %>
        <% item_interests.each do |interest| %>
          <div class="interest item <%= item_type %>">
            <h4>
              <%= interest_name interest %>
            </h4>
          </div>
        <% end %>
	    <% end %>

	  <% end %>

	  <% if grouped['feed'] and grouped['feed'].any? %>
	    <% grouped['feed'].each do |interest| %>
        <div class="interest collection_feed">
          <h4>
            <%= interest_name interest %>
          </h4>
        </div>
      <% end %>
		<% end %>

    <hr/>

    <ul class="preview">
      <h2>Preview of Current Scout Results</h2>

      <% items.each do |item| %>
        <% if item.search? %>
          <%= partial "search/item", engine: "erb", locals: {
            item: item, interest: item.interest, query: interest.in
            } %>
        <% elsif item.item? %>
          <%= partial "search/item", engine: :erb, locals: {
            item: item, interest: item.interest, query: nil
            } %>
        <% elsif item.feed? %>
          <%= partial "search/item", engine: "erb", locals: {
            item: item, interest: item.interest, query: nil
            } %>
        <% end %>
      <% end %>
    </ul>

	<% end %>

</div>

<script type="text/javascript">

	var collection_slug = "<%= Tag.slugify h(collection.name) %>";
	var user_slug = "<%= h params[:user_id] %>";

	function initializeControls() {
		<% if logged_in? and (user == current_user) %>
			$("div.collection").on("click", "a.description", function() {
				$("div.display, div.edit").toggle();
				return false;
			});

			$("div.collection").on("click", "button.description", function() {
				var container = $(this).parents("div.edit");
				var user = container.data("user");
				var collection = container.data("collection");

				var options = {
					description: $.trim($("textarea.description").val()),
					_method: "put"
				};

				$.post("/account/collection/" + collection_slug + "/description", options, function(data) {
					Utils.log("Updated description for collection.");
					$("div.description_container").html(data.description_pane);
				}).error(function() {
					// todo
				});

				return false;
			});
		<% end %>

    <% if user != current_user %>
      <% if logged_in? %>
        Button.initExistingUser(follow, unfollow);
      <% else %>
        Button.initNewUser();
      <% end %>
    <% end %>

    <% if logged_in? and interest.new_record? and (params[:follow] == "now") %>
      follow();
    <% end %>
  }

	function follow() {
    Button.showFollowing();

    $.post("/user/" + user_slug + "/" + collection_slug + "/follow", function(data) {
      Utils.log("Created collection interest " + data.interest_id);
    }).error(function() {
      Utils.log("ERROR following collection.");
      Button.showFollow();
    });
  }

  function unfollow() {
    Button.showFollow();

    $.post("/user/" + user_slug + "/" + collection_slug + "/unfollow", {_method: "delete"}, function(data) {
      Utils.log("Destroyed collection interest.");
    }).error(function() {
      Utils.log("ERROR unfollowing collection.");
      Button.showFollowing();
    });
  }

  $(initializeControls);

</script>