<% content_for :sidebar_right do %>
  <div class="module rss">
    <h4>
      Everything
      <a class="rss feed" href="/account/<%= current_user.id %>.rss">RSS</a>
      <% if show_data? %>    
          <a class="json feed" href="/account/<%= current_user.id %>.json?apikey=<%= api_key %>">JSON</a>
      <% end %>
    </h4>

    <small class="clear">
      The combined results of all of your subscriptions.
    </small>
  </div>

  <!-- also filled in dynamically when tags are added/removed -->
  <div class="module tags">
    <%= partial "account/tags", :engine => :erb, :locals => {:tags => tags} %>
  </div>

  <div class="module rss">
    <a href="/import/feed">Import an RSS feed</a> from anywhere on the Internet.
  </div>
<% end %>

<div class="contentArea left subscriptionsList">

  <% if interests.empty? %>
    <p class="empty">
      You haven't created any alerts yet.
    <p>
  <% end %>

  <% grouped = interests.group_by &:interest_type %>

  <% if grouped['tag'] and grouped['tag'].any? %>
    <div class="section tags">
      <h2>Public Collections</h2>
        <div class="interest">

          <div class="removeHeader">
            <span>Remove</span>
          </div>

          <% grouped['tag'].each do |interest| %>
            <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => true} %>
          <% end %>

        </div>

      <% end %>
    </div>
  <% end %>
  
  <% if grouped['search'] and grouped['search'].any? %>
    <div class="section keywords">
      <h2>Searches</h2>

      <% by_query = grouped['search'].group_by &:in %>
      <% by_query.each do |query, query_interests| %>
        <div class="interest">
          
          <h3 class="interestHeader">"<%= query %>"</h3>

          <div class="removeHeader">
            <span>Remove</span>
          </div>

          <% query_interests.each do |interest| %>
            <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => true} %>
          <% end %>

        </div>

      <% end %>
    </div>
  <% end %>

  <% if grouped['item'] and grouped['item'].any? %>

    <% by_item_type = grouped['item'].group_by &:item_type %>
    <% by_item_type.each do |item_type, item_interests| %>
      <div class="section items <%= item_type %>">
        <h2><%= item_type_name item_type %></h2>

        <div class="interest">
          <div class="removeHeader">
            <span>Remove</span>
          </div>

          <% item_interests.each do |interest| %>
            <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => true} %>
          <% end %>

        </div>
      </div>
    <% end %>

  <% end %>

  <div class="section feeds">
    <h2>Feeds</h2>
    <div class="interest">

      <div class="add rss">
        <h3>Import a Feed</h3>

        <form action="/import/feed" method="get" class="preview">
          <label>
            Enter a URL of a feed to get alerts whenever it's updated:
          </label>
          <input type="text" placeholder="Feed URL" name="url" class="feed_url" />
          <button type="submit" class="smallButton preview">
            Preview
          </button>
          <div class="clear"></div>
        </form>
      </div>

      <% if grouped['feed'] and grouped['feed'].any? %>
        <div class="removeHeader">
          <span>Remove</span>
        </div>

        <% grouped['feed'].each do |interest| %>
          <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => true} %>
        <% end %>
      <% end %>

    </div>
  </div>

</div>


<script type="text/javascript">

  $(function() {

    // toggle the remove button to show when the checkbox is clicked
    $("input[type=checkbox].remove").change(function() {
      $(this).siblings("button.remove").toggle();
    });

    // remove the actual interest
    $("button.remove").click(function() {
      var container = $(this).parents(".subscription");
      var interest_id = container.data("interest_id");

      container.find(".indicators span").hide();
      container.find(".indicators .spinning").show();
      $.post("/interest/" + interest_id, {_method: "delete"}, function(data) {
        Utils.log("Deleted interest " + interest_id);
        container.remove();
      }).error(function() {
        Utils.log("Error deleting interest " + interest_id);
        container.find(".indicators span").hide();
        container.find(".indicators .failed").show();
      })
    });

    // update the notification type when the form is submitted
    $("input.notifications").change(function() {
      var container = $(this).parents(".subscription");
      var interest_id = container.data("interest_id");

      var notifications = container.find("input[name=notifications]:checked").val();
      var attrs = {interest: {notifications: notifications}};

      container.find(".indicators span").hide();
      container.find(".indicators .spinning").show();
      $.post("/interest/" + interest_id, $.extend(attrs, {_method: "put"}), function(data) {
          container.find(".indicators span").hide();
          container.find(".indicators .okay").show().delay(1000).fadeOut(600);
          Utils.log("Updated interest " + interest_id + " with interval " + data.notifications);
      }).error(function() {
          container.find(".indicators span").hide();
          container.find(".indicators .failed").show();
          Utils.log("Error updating interest " + interest_id);
      });
    });

    // toggle the notifications form on and off when 'change' is clicked
    $("a.open_notifications").click(function() {
      $(this).parents(".subscription").find(".notifications form").toggle();
      return false;
    });

    // update tags for an interest when the form is submitted
    $(".subscription .tags form").submit(function() {
      var container = $(this).parents(".subscription");
      var interest_id = container.data("interest_id");
      var tags = $(this).find("input.tags").val();

      container.find(".indicators span").hide();
      container.find(".indicators .spinning").show();

      $.post("/interest/" + interest_id, {_method: "put", interest: {tags: tags}}, function(data) {
          container.find(".indicators span").hide();
          container.find(".indicators .okay").show().delay(1000).fadeOut(600);

          Utils.log("Interest " + interest_id + " updated with tags (" + data.interest_tags.join(", ") + ")");
          $(".module.tags").html(data.tags_pane);
      }).error(function(xhr) {
          container.find(".indicators span").hide();
          container.find(".indicators .failed").show();

          Utils.log("Error updating tags for interest " + interest_id);
      });
      return false;
    });

    // show checkboxes and button next to tags when 'edit' is clicked
    $(".module.tags").on("click", "h4 a", function() {
      $(".module.tags button, .module.tags input[type=checkbox]").toggle();
      return false;
    });

    // show OK button next to tage input field on focus
    $("input[type=text].tags").focus(function() {
      $(this).siblings("button, small").show();
    });
  });

</script>