<% content_for :sidebar_right do %>

	<% if !logged_in? %>
	<!-- 	<div class="module tag">
			<p>
				<%= user.display_name || user.username || "This user" %> is using Scout, a notification platform for government action.
			</p>

			<p>

			</p>
		</div> -->
	<% end %>

	<% if user == current_user %>
		<div class="module sharing">
			
			<% if tag.public? %>
				<form action="/account/tag/<%= Tag.slugify h(tag.name) %>/public" method="post">
					<input type="hidden" name="_method" value="put" />
					<input type="hidden" name="public" value="false" />
					
					<p>
						This tag is <strong>public</strong>. Anybody who has the URL can see it.
					</p>

					<button type="submit" class="smallButton tag_public">
						Make Tag Private
					</button>
				</form>

				<% if user.username.blank? %>
					<small class="username">
						<a href="/account/settings">Set a username</a> for a prettier URL.
					</small>
				<% end %>
				
			<% else %>
				<form action="/account/tag/<%= Tag.slugify h(tag.name) %>/public" method="post">
					<input type="hidden" name="_method" value="put" />
					<input type="hidden" name="public" value="true" />
					<p>
						You can make this tag public, so other people can see these subscriptions and follow them.
					</p>
					<button type="submit" class="smallButton tag_public">
						Make Tag Public
					</button>
				</form>
			<% end %>

		</div>
	<% end %>

<% end %>

<div class="contentArea left tag <%= current_user == user ? "" : "public" %>">
	<div class="tagHeader">

		<h2>
			<%= h tag.name %>
		</h2>

		<a class="rss feed" href="<%= tag_feed_path user, tag, "rss" %>">RSS</a>

		<% if tag.public? %>
			<% if user != current_user %>
				<button class="follow tag">
	  	    <span>Follow</span>
		    </button>

		    <button class="following tag">
		      <span>Unfollow</span>
		    </button>
			<% end %>
		<% end %>

		<div class="clear"></div>
		
		<% if name = (user.display_name || user.username) %>
			<span class="username author">
				<%= h name %>
			</span>
		<% end %>

		<div class="description_container">
			<%= partial "account/description", :engine => "erb", :locals => {:user => user, :tag => tag} %>
		</div>

	</div>


	<% if interests.empty? %>
    <p class="empty">
    	There's nothing tagged here yet.
    </p>
  <% else %>

	  <% grouped = interests.group_by &:interest_type %>
	  
	  <% if grouped['search'] and grouped['search'].any? %>
	    <div class="section keywords">
	      <h2>Searches</h2>

	      <% by_query = grouped['search'].group_by &:in %>
	      <% by_query.each do |query, query_interests| %>
	        <div class="interest">
	          
	          <h3 class="interestHeader">"<%= query %>"</h3>

	          <% query_interests.each do |interest| %>
	            <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => false} %>
	          <% end %>

	        </div>

	      <% end %>
	    </div>
	  <% end %>

	  <% if grouped['item'] and grouped['item'].any? %>

	    <% by_item_type = grouped['item'].group_by &:item_type %>
	    <% by_item_type.each do |item_type, item_interests| %>
	      <div class="section items <%= item_type %>">
	        <h2><%= item_type_name item_type %></h2>

	        <div class="interest">

	          <% item_interests.each do |interest| %>
	            <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => false} %>
	          <% end %>

	        </div>
	      </div>
	    <% end %>

	  <% end %>

	  <% if grouped['feed'] and grouped['feed'].any? %>
		  <div class="section feeds">
		    <h2>From Elsewhere</h2>
		    <div class="interest">

	        <% grouped['feed'].each do |interest| %>
	          <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => false} %>
	        <% end %>

		    </div>
		  </div>
		<% end %>

	<% end %>

</div>

<script type="text/javascript">

	var tag_slug = "<%= Tag.slugify h(tag.name) %>";
	var user_slug = "<%= h params[:user_id] %>";
	
	$(function() {

		initializeControls();

		<% if logged_in? and interest.new_record? and (params[:follow] == "now") %>
      follow();
    <% end %>

	});


	function initializeControls() {
		<% if logged_in? and (user == current_user) %>
			$("div.tag").on("click", "a.description", function() {
				$("div.display, div.edit").toggle();
				return false;
			});

			$("div.tag").on("click", "button.description", function() {
				var container = $(this).parents("div.edit");
				var user = container.data("user");
				var tag = container.data("tag");

				var options = {
					description: $.trim($("textarea.description").val()),
					_method: "put"
				};

				$.post("/account/tag/" + tag_slug + "/description", options, function(data) {
					Utils.log("Updated description for tag.");
					$("div.description_container").html(data.description_pane);
				}).error(function() {
					// todo
				});

				return false;
			});
		<% end %>

    $("button.follow").hide();
    $("button.following").hide();

    <% if interest.new_record? %>
      $("button.follow").show();
    <% else %>
      $("button.following").show();
    <% end %>

    <% if logged_in? %>
      $("button.follow").off("click").click(follow);
      $("button.following").off("click").click(unfollow);
    <% else %>
      $("button.follow").off("click").click(function() {
        window.location = "/login?redirect=" + Utils.currentPath({follow: "now"});
      });
      $("button.following").off("click");
    <% end %>
  }

	function follow() {
    $("button.follow").hide();
    $("button.following").show();

    $.post("/user/" + user_slug + "/" + tag_slug + "/follow", function(data) {
      Utils.log("Created tag interest " + data.interest_id);
    }).error(function() {
      Utils.log("ERROR following tag.");
      $("button.follow").show();
      $("button.following").hide();
    });

    return false;
  }

  function unfollow() {
    $("button.follow").show();
    $("button.following").hide();

    $.post("/user/" + user_slug + "/" + tag_slug + "/unfollow", {_method: "delete"}, function(data) {
      Utils.log("Destroyed tag interest.");
    }).error(function() {
      Utils.log("ERROR unfollowing tag.");
      $("button.follow").hide();
      $("button.following").show();
    });

    return false;
  }

</script>