<% content_for :sidebar_right do %>

	<div class="module tag">
		<% if user == current_user %>
			<% if tag.public? %>
				This tag is public.
			<% else %>
				This is everything you've tagged with "<%= h tag.name %>".
			<% end %>
		<% else %>
			You're looking at <%= user.display_name || user.username || "this user" %>'s subscriptions tagged "<%= h tag.name %>".
		<% end %>
	</div>

<% end %>

<div class="contentArea left tag <%= current_user == user ? "" : "public" %>">
	<div class="tagHeader">

		<h2>
			<%= h tag.name %>
		</h2>

		<a class="rss feed" href="<%= tag_feed_path user, tag, "rss" %>">RSS</a>

		<% if tag.public? %>
			<% if user != current_user %>
				<button class="follow tag">
	  	    <span>Follow</span>
		    </button>

		    <button class="following tag">
		      <span>Unfollow</span>
		    </button>
			<% end %>
		<% end %>

		<div class="clear"></div>
		
		<% if tag.public? %>
			<% if name = (user.display_name || user.username) %>
				<span class="username author">
					<%= h name %>
				</span>
			<% end %>

			<% if user == current_user %>
				<textarea class="description" 
					placeholder="Describe the alerts you've collected together. (optional)"><%= h tag.description %></textarea>
				<button class="smallButton description">
					Update
				</button>
			<% elsif tag.description.present? %>
				<p class="description">
					<%= h tag.description %>
				</p>
			<% end %>	
		<% end %>

	</div>





	<% if interests.empty? %>
    <p class="empty">
      There's nothing tagged here yet.
    <p>
  <% else %>

	  <% grouped = interests.group_by &:interest_type %>
	  
	  <% if grouped['search'] and grouped['search'].any? %>
	    <div class="section keywords">
	      <h2>Searches</h2>

	      <% by_query = grouped['search'].group_by &:in %>
	      <% by_query.each do |query, query_interests| %>
	        <div class="interest">
	          
	          <h3 class="interestHeader">"<%= query %>"</h3>

	          <% query_interests.each do |interest| %>
	            <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => false} %>
	          <% end %>

	        </div>

	      <% end %>
	    </div>
	  <% end %>

	  <% if grouped['item'] and grouped['item'].any? %>

	    <% by_item_type = grouped['item'].group_by &:item_type %>
	    <% by_item_type.each do |item_type, item_interests| %>
	      <div class="section items <%= item_type %>">
	        <h2><%= item_type_name item_type %></h2>

	        <div class="interest">

	          <% item_interests.each do |interest| %>
	            <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => false} %>
	          <% end %>

	        </div>
	      </div>
	    <% end %>

	  <% end %>

	  <% if grouped['external_feed'] and grouped['external_feed'].any? %>
		  <div class="section feeds">
		    <h2>From Elsewhere</h2>
		    <div class="interest">

	        <% grouped['external_feed'].each do |interest| %>
	          <%= partial "account/interest", :engine => "erb", :locals => {:interest => interest, :edit => false} %>
	        <% end %>

		    </div>
		  </div>
		<% end %>

	<% end %>

</div>