<% vote = item.data %>

<%= email_header "#{vote['chamber'].capitalize} Vote ##{vote['number']}", url %>

<%= email_subheader_div %>
  <%= just_date vote['voted_at'] %>
</div>

<%= email_content_p %>
  <%= vote['roll_type'] %>: <%= vote['result'] %>, <%= vote_breakdown vote %>
</div>