<% bill = interest.data %>
<% vote = item.data %>

<a href="<%= vote_url vote %>">
  <h4>
    Vote in the <%= vote['chamber'].capitalize %> on <%= bill_code bill['bill_type'], bill['number'] %>
  </h4>
</a>

<div class="subtitle">
  <span>Vote</span>
</div>

<p>
  <span>
    <%= vote['roll_type'] %>,
  </span>
  <strong><%= vote['result'] %></strong>
  <span>
    <%= vote_breakdown vote %>
  </span>
</p>