<% vote = item.data %>
<p>
  <span>
    <%= vote['roll_type'] %>
  </span>
  <h5>
    <%= vote['result'] %>
  </h5>
  <span>
    <%= vote_breakdown vote %>
  </span>
</p>
<p>
  <a href="<%= vote_url vote %>">Roll call no. <%= vote['number'] %></a>
</p>