<% vote = item.data %>
<title>
  <%= interest_name item.interest %>
</title>
<description><![CDATA[
  <strong>
    <%= vote['chamber'].capitalize %> Vote
  </strong>
  &mdash;
  <%= vote['roll_type'] %>: <%= vote['result'] %>, <%= vote_breakdown vote %>
]]></description>