<% speech = item.data %>

<% if speech['bioguide_id'] %>
  <%= email_header speaker_name(speech), item_url(item) %>
<% else %>
  <%= email_header long_date(speech['date']), item_url(item) %>
<% end %>

<%= email_subheader_div %>
  <span class="date">
    <%= just_date item.date %>
  </span>
  &mdash;
  <%= speech['title'] %> 
</div>

<%= email_content_p %>
  "<%= speech_excerpt speech, interest, inline: true %>"
</p>