<% speech = item.data %>

<%= email_header speech['title'], url %>

<%= email_subheader_div %>
  <span class="date">
    <%= just_date item.date %>
  </span>
  &mdash;
  <% if speech['bioguide_id'] %>
    <%= speaker_name speech %>
  <% else %>
    <%= long_date speech['date'] %>
  <% end %>
</div>

<%= email_content_p %>
  "<%= speech_excerpt speech, interest, inline: true %>"
</div>