<% speech = item.data %>

<a href="<%= item.path %>">
  <h4>
    <% if speech['bioguide_id'] %>
      <%= speaker_name speech %>
    <% else %>
      <%= long_date speech['date'] %>
    <% end %>
  </h4>
</a>

<div class="subtitle">
  <%= speech['title'] %>
</div>

<p>
  "<%= speech_excerpt speech, interest %>"
</p>