<% speech = item.data %>

<header>
    <div class="titles">
        
    </div>
</header>

<div class="summary">
	<div class="entryHeader">
		<h2><%= speech['title'] %></h2>
		<div class="subtitle">
		    <h4>
		        <%= speaker_name speech %>, on
                <time class="item" datetime="<%= html_date item.date %>">
                    <%= just_date_year item.date %>
                </time>
		    </h4>
		</div>
	</div>

    <div class="clear"></div>

    <div class="resources">
        <h5>Resources</h5>
        <ul>
            <li class="capWords"><a href="<%= speech['capitolwords_url'] %>">CapitolWords</a><span>icon</span></li>
        </ul>
    </div>

    <a class="source" href="<%= speech['origin_url'] %>">Original</a>

    <div class="clear"></div>

	<% speech['speaking'].each do |speaking| %>
        <p>
            <%= h speaking %>
        </p>
    <% end %>
    

</div>