<% speech = item.data %>

<div class="summary">
	<div class="entryHeader">
		<h2><%= speech['title'] %></h2>
		<div class="subtitle">
		    <h4>
		        <%= speaker_name speech %>, on
                <time class="item" datetime="<%= html_date item.date %>">
                    <%= just_date_year item.date %>
                </time>
		    </h4>
		</div>
	</div>

    <div class="clear"></div>

    <div class="resources">
        <h5>Resources</h5>
        <ul>
            <li class="capWords">
                <a data-resource="capitolwords" href="<%= speech['capitolwords_url'] %>">CapitolWords</a>
            </li>

			<li class="source">
				<a data-resource="original" href="<%= speech['origin_url'] %>">Original Text</a>
			</li>
        </ul>
    </div>


    <div class="clear"></div>

	<%= speech_speaking speech %>

</div>