<% speech = item.data %>

<div class="summary">
  <div class="entryHeader">
    <h2><%= speech['title'] %></h2>
    <div class="subtitle">
      <h4>
        a speech in Congress by
        <%= speaker_name speech %>, on
        <time>
            <%= just_date_year item.date %>
        </time>
      </h4>
    </div>
  </div>

  <div class="clear"></div>

  <div class="resources">
    <h5>Resources</h5>
    <span>
      Visit
      <strong><a data-resource="capitolwords" href="<%= speech['capitolwords_url'] %>">CapitolWords</a></strong>
      for more context.
    </span>
  </div>

  <div id="document">
    <header>
      <strong>Full Text</strong>
      <span>
        Below, adapted from the <a data-resource="original" href="<%= speech['origin_url'] %>">Congressional Record</a>.
      </span>
    </header>
    <hr />
    <article>
      <%= speech_speaking speech %>
    </article>
  </div>

</div>

<script type="text/javascript">
  $(function() {
    // for now: serialize all the known terms into a big object
    var Glossary = <%= glossary.to_json %>;

    $.each(Glossary.terms, function(i, term) {
      searchHTML(Glossary, $("article"), term);
    });

    $("article .glossary").qtip();
  });
</script>