<% speech = item.data %>

<header>
    <div class="titles">
        <h4><%= long_date item.date %></h4>
        <h2><%= speaker_name speech %></h2>
    </div>
</header>

<section class="detail">

    <h2>Resources</h2>
    <div class="resources">
        <a target="_blank" href="<%= speech['capitolwords_url'] %>">CapitolWords</a>
        <a target="_blank" href="<%= speech['origin_url'] %>">GPO (Original)</a>
    </div>
    <h2>Speech</h2>
    <div class="speech">
        <% speech['speaking'].each do |speaking| %>
            <p>
                <%= h speaking %>
            </p>
        <% end %>
    </div>

</section>

<section class="track">
</section>