<% speech = item.data %>

<header>
    <div class="titles">
        
    </div>
</header>

<div class="summary">
	<div class="entryHeader">
		<h2><%= speech['title'] %></h2>
		<div class="subtitle">
		    <h4>
		        <span class="name">
		            <%= speaker_name speech %>
		        </span>
		    </h4>
		</div>
	</div>
    <time class="item" datetime="<%= html_date item.date %>">
            <%= just_date_year item.date %>
    </time>


    <div class="clear"></div>
	<% speech['speaking'].each do |speaking| %>
        <p>
            <%= h speaking %>
        </p>
    <% end %>

    <div class="resources">
        <h5>Resources</h5>
        <ul>
            <li><a href="<%= speech['capitolwords_url'] %>">CapitolWords</a></li>
        </ul>
    </div>

    <a class="source" href="<%= speech['origin_url'] %>">Original</a>

    <div class="clear"></div>
    

</div>