<% hearing = item.data %>
<%= email_header "Hearing: #{hearing['committee']['name']}", url %>

<%= email_subheader_div %>
  <%= just_date hearing['occurs_at'] %>, <%= just_time hearing['occurs_at'] %>
</div>

<%= email_content_p %>
  <%= truncate hearing['description'], 500 %>
</div>