<% hearing = item.data %>
<td class="time">
  <time datetime="<%= html_date hearing['occurs_at'] %>"><%= just_date hearing['occurs_at'] %></time>
  <time datetime="<%= html_date hearing['occurs_at'] %>"><%= just_time hearing['occurs_at'] %></time>
</td>
<td>
  <h5>
    <a href="<%= hearing_url hearing %>"><%= hearing['committee']['name'] %></a>
  </h5>
  <p>
    <%= truncate_more "hearing-#{hearing['occurs_at'].to_i}", hearing['description'], 100 %>
  </p>
</td>