<table width="100%" border="0" cellspacing="0" cellpadding="0" id="footer" style="padding: 20px;margin: 0;margin-top: 1em;font-size: 90%;width: 100%;color: #666;background: url(https://scout-assets.s3.amazonaws.com/assets/images/bg_header_email.gif) repeat center top; min-height: 80px;">
  <tr>

    <td class="table_center" style="text-align: center;">&nbsp;</td>
    <td class="table_center" style="text-align: center;">
      <a href="<%= email_url Environment.config['organization']['url'] %>" target="_blank">
        <img src="https://scout-assets.s3.amazonaws.com/assets/images/logo_sunlightFoundation_email.png" class="logo_footer" style="padding-left: 20px;padding-bottom: 20px;padding-right: 20px;">
      </a>
    </td>
    <td class="table_center" style="text-align: center;">&nbsp;</td>

  </tr><tr>
    <td class="table_column_width" style="width: 15%;">&nbsp;</td>
    <td>
      <p>
        These notifications are powered by the nonpartisan <a href="<%= email_url Environment.config['organization']['url'] %>" target="_blank" style="color: #1c8398;"><%= Environment.config['organization']['name'] %></a>, a nonpartisan nonprofit that advocates for open government globally and uses technology to make government more accountable to all.
      </p>
      <p>
        <a href="<%= email_url "/account/subscriptions" %>" target="_blank" style="color: #1c8398;">Manage your subscriptions</a> on the web, or <a href="<%= email_url "/account/unsubscribe" %>" target="_blank" style="color: #1c8398;">unsubscribe from all emails</a>.
      </p>
      <p>
        Reply to this email to send feedback, bug reports, or effusive praise our way.
      </p>
    </td>
    <td class="table_column_width" style="width: 15%;">&nbsp;</td>
  </tr>
</table>

<%# donation %>

</body>
</html>