<% content_for :sidebar_right do %>
  <div class="module sharing" style="display: none">
  </div>

  <% if show_data? %>
    <div class="module developer json">
      <h4>The Data</h4>
      See the <a href="<%= developer_find_url item_type, item_id %>">underlying data</a>.
    </div>
  <% end %>

  <div class="module data explanation">
    <h4>Source</h4>
    <%= partial "subscriptions/#{item_types[item_type]['adapter']}/data", :engine => "erb" %>
  </div>
<% end %>

<div class="entry contentArea left <%= item_type %>">

  <div class="loading">
      <span>Fetching...</span>
  </div>

  <div class="error">
      Error loading information.
  </div>

  <div class="content">
      <!-- load in content -->
  </div>

  <% if subscriptions.any? %>
    <div class="details clear">

      <% subscriptions.each do |subscription| %>
        <div class="module of2 <%= subscription.subscription_type %>"
          data-subscription_type="<%= subscription.subscription_type %>"
          >
          <h4>
            <%= subscription.adapter.search_name subscription %>
          </h4>

          <div class="loading">
            <span>Fetching...</span>
          </div>

          <div class="error">
            <span>Error loading information.</span>
          </div>

          <div class="results"></div>
        </div>
      <% end %>
      
      <div class="clear"></div>

    </div>
  <% end %>

</div>


<script type="text/javascript">

    var item_type = "<%= h item_type %>";
    var item_id = "<%= h item_id %>";

    $(function() {
        var container = $(".entry.contentArea");

        container.find(".loading").show();
        container.find(".error").hide();
        container.find(".content").hide();

        $.get("/fetch" + window.location.pathname, {}, function(data) {
          window.data = data;
            container.find(".loading").hide();
            container.find(".content").show().html(data.results);

            initializeControls();

            <% if logged_in? and interest.new_record? and (params[:follow] == "now") %>
              follow();
            <% end %>

            $(".module.sharing").show().html(data.share);

            $(".details .module.of2").each(function(i, elem) {
              fetchStream($(elem).data("subscription_type"));
            });
        }).error(function() {
            container.find(".loading").hide();
            container.find(".error").show();
        });
    });

  function initializeControls() {
    $("button.follow").hide();
    $("button.following").hide();

    <% if interest.new_record? %>
      $("button.follow").show();
    <% else %>
      $("button.following").show();
    <% end %>

    <% if logged_in? %>
      $("button.follow").off("click").click(follow);
      $("button.following").off("click").click(unfollow);
    <% else %>
      $("button.follow").off("click").click(function() {
        window.location = "/login?redirect=" + Utils.currentPath({follow: "now"});
      });
      $("button.following").off("click");
    <% end %>
  }

  function fetchStream(subscription_type) {
    var url = "/fetch/item/" + item_type + "/" + item_id + "/" + subscription_type;

    var container = $(".of2.module." + subscription_type);
    container.show();

    container.find(".loading").show();

    $.get(url, {}, function(data) {
      container.find(".loading").hide();
      container.find(".results").html(data);
    }).error(function() {
      container.find(".loading").hide();
      container.find(".error").show();
      Utils.log("Error loading data for " + subscription_type);
    });
  }

  function follow() {
    $("button.follow").hide();
    $("button.following").show();

    $.post("/item/" + item_type + "/" + item_id + "/follow", function(data) {
      Utils.log("Followed " + item_type + " " + item_id + ".");
    }).error(function() {
      Utils.log("ERROR following item.");
      $("button.follow").show();
      $("button.following").hide();
    });

    return false;
  }

  function unfollow() {
    $("button.follow").show();
    $("button.following").hide();

    $.post("/item/" + item_type + "/" + item_id + "/unfollow", {_method: "delete"}, function(data) {
      Utils.log("Unfollowed " + item_type + " " + item_id + ".");
    }).error(function() {
      Utils.log("ERROR unfollowing item.");
      $("button.follow").hide();
      $("button.following").show();
    });

    return false;
  }
</script>